:root {
    --background: linear-gradient(to bottom, #eeeeee 0%, #777777 100%);

    --title: #111111;
    --text: #222222;
    --subtext: #444444;

    --surface: #eeeeee;
    --surface_hover: #bbbbbb;
    --surface_title: #222222;
    --surface_text: #333333;
    --surface_subtext: #555555;

    --surface_container: #cccccc;
    --surface_container_hover: #aaaaaa;
    --surface_container_title: #333333;
    --surface_container_text: #444444;
    --surface_container_subtext: #666666;

    --outline: #999999;
}

.dark {
    --background: linear-gradient(to bottom, #111111 0%, #777777 100%);
    
    --title: #ffffff;
    --text: #eeeeee;
    --subtext: #bbbbbb;

    --surface: #111111;
    --surface_hover: #333333;
    --surface_title: #eeeeee;
    --surface_text: #cccccc;
    --surface_subtext: #aaaaaa;

    --surface_container: #222222;
    --surface_container_hover: #444444;
    --surface_container_title: #cccccc;
    --surface_container_text: #bbbbbb;
    --surface_container_subtext: #999999;

    --outline: #999999;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    
    scrollbar-color: var(--title) transparent;
    scrollbar-width: auto;
}


html {
    font-family: "Inter", "Noto Sans JP", "Font Awesome 7 Free", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    cursor: default;

    overflow-x: hidden;
}

body {
    background-color: #444444;
}

::selection {
    background-color: var(--title);
    color: var(--surface);
}

#navbar-toggle {
    display: none;
}

label[for="navbar-toggle"] {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--surface);
    border-radius: 10px;

    cursor: pointer;
    
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;

    overflow: hidden;

    height: 40px;
    aspect-ratio: 1/1;
}

label[for="navbar-toggle"]:hover {
    background-color: var(--surface_hover);
}

#navbar-toggle:checked + label[for="navbar-toggle"] {
    background-color: var(--surface_container);
}

#navbar-toggle:checked + label[for="navbar-toggle"]:hover {
    background-color: var(--surface_container_hover);
}

label[for="navbar-toggle"] i {
    color: var(--surface_title);
    font-size: 1.2rem;

    position: absolute;

    transition: 
        opacity 200ms ease,
        transform 200ms ease;
}

#navbar-toggle:checked + label[for="navbar-toggle"] i {
    color: var(--surface_container_title);
}

.navbar-toggle-closed-icon {
    opacity: 1;
    transform: scale(1);
}

.navbar-toggle-open-icon {
    opacity: 0;
    transform: translateX(-100%);
}

#navbar-toggle:checked + label .navbar-toggle-closed-icon {
    opacity: 0;
    transform: scale(0);
}

#navbar-toggle:checked + label .navbar-toggle-open-icon {
    opacity: 1;
    transform: translateX(0);
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: var(--surface);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    padding: 25px;

    transform: translateX(-100%);

    transition: transform 200ms ease;
    
    height: 100dvh;
    width: 275px;
}

#navbar-toggle:checked ~ .navbar {
    transform: translateX(0);
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: end;

    border-bottom: 2px solid var(--outline);
    border-radius: 1px;

    color: var(--surface_title);
    font-size: 1.1rem;
    font-weight: bold;

    margin-left: calc(40px + 25px);
    
    height: 40px;
    width: auto;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.navbar-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.navbar-section-title {
    display: flex;
    align-items: center;

    color: var(--surface_title);
    font-size: 1.1rem;
    font-weight: bold;

    position: relative;

    height: 40px;
    width: 100%;
}

.navbar-section-title::before {
    background-color: var(--outline);
    border-radius: 1px;
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    transition: width 200ms ease;
    
    height: 2px;
    width: 0;
}

.navbar-section:hover .navbar-section-title::before {
    width: 100%;
}

.navbar-section-button-container {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

.navbar-section-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    border-radius: 10px;

    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    padding: 0 10px;

    height: 40px;
    width: 100%;
}

.navbar-section-button:hover {
    background-color: var(--surface_container);
    color: var(--surface_container_text);
}

#theme-toggle {
    display: none;
}

label[for="theme-toggle"] {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--surface_container);
    border-radius: 10px;

    cursor: pointer;
    
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;

    height: 40px;
    aspect-ratio: 1/1;
}

label[for="theme-toggle"]:hover {
    background-color: var(--surface_container_hover);
}

label[for="theme-toggle"] i {
    color: var(--surface_container_title);
    font-size: 1rem;

    position: absolute;

    transition: 
        opacity 200ms ease,
        transform 200ms ease;
}

.bright-icon {
    opacity: 1;
    transform: rotate(0);
}

.dark-icon {
    opacity: 0;
    transform: rotate(90deg);
}

#theme-toggle:checked + label .bright-icon {
    opacity: 0;
    transform: rotate(-90deg);
}

#theme-toggle:checked + label .dark-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.language-selector-container {
    display: flex;

    background-color: var(--surface);
    border-radius: 10px;

    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;

    overflow: hidden;

    height: 40px;
    width: auto;
}

.language-selector-container:hover {
    background-color: var(--surface_hover);
}

.language-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--surface_title);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

#language-selector {
    background-color: transparent;
    border: none;

    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;

    cursor: pointer;

    height: 100%;
    width: auto;
}

.return-to-top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 10px;
    
    color: var(--surface_container_title);
    font-size: 1rem;
    text-decoration: none;

    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1;

    height: 50px;
    aspect-ratio: 1/1;
}

.return-to-top:hover {
    background-color: var(--surface_hover);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    background: var(--background);

    padding: calc(25px + 40px + 25px) 25px;

    overflow: hidden;

    height: auto;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 25px;

    height: auto;
    width: 100%;
    max-width: 1000px;
}

.main-section-title {
    border-bottom: 2px solid var(--outline);

    color: var(--title);
    font-size: 2rem;
    font-weight: bold;

    height: 50px;
    width: 100%;
}

.hero-top {
    display: flex;
    gap: 25px;

    height: 275px;
    width: 100%;
}

.hero-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--outline); 
    border-radius: 10px;

    height: 100%;
    aspect-ratio: 1/1;
}

.hero-image-container img {
    border-radius: 10px;

    height: 100%;
    width: 100%;
}

.hero-text {
    flex: 1;
}

.hero-title {
    color: var(--title);
    font-size: 1.75rem;
    font-weight: bold;
}

.hero-subtitle {
    color: var(--subtext);
    font-size: 1.25rem;
    font-weight: normal;

    margin-bottom: 25px;
}

.hero-about {
    color: var(--text);
    font-size: 1.25rem;
    font-weight: normal;

    height: auto;
    width: auto;
}

.hero-separator {
    background-color: var(--outline);
    border-radius: 1px;

    height: 2px;
    width: 100%;
}

.hero-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    height: auto;
    width: 100%;
}

.hero-shortcut {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--surface);
    border-radius: 10px;

    padding: 25px;

    height: auto;
    width: calc((100% / 2) - (15px / 2));
}

.hero-shortcut-title {
    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--outline);

    color: var(--surface_title);
    font-size: 1.25rem;
    font-weight: bold;;

    height: 40px;
    width: 100%;
}

.hero-shortcut-about {
    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;
}

.hero-shortcut-button-container {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;

    flex: 1;
    height: auto;
    width: 100%;
}

.hero-shortcut-button {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container);
    border-radius: 10px;

    color: var(--surface_container_text);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    padding: 0 10px;

    height: 40px;
    width: fit-content;
}

.hero-shortcut-button:hover {
    background-color: var(--surface_container_hover);
}

.project {
    display: flex;

    background-color: var(--surface);
    border-radius: 10px;

    overflow: hidden;

    height: auto;
    width: 100%;
}

.project-info {
    padding: 25px;

    height: auto;
    width: 50%;
}

.project-title {
    color: var(--surface_title);
    font-size: 1.75rem;
    font-weight: bold;

    margin-bottom: 10px;
}

.project-tool-container {
    display: flex;
    gap: 5px;

    margin-bottom: 25px;

    height: 40px;
    width: auto;
}

.project-tool {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container);
    border-radius: 10px;

    height: 100%;
    aspect-ratio: 1/1;
}

.project-tool:hover {
    background-color: var(--surface_container_hover);
}

.project-tool img {
    height: 65%;
    aspect-ratio: 1/1;
}

.project-tool-tooltip {
    display: flex;
    align-items: center;

    background-color: var(--surface_container);
    border-radius: 10px;
    opacity: 0;

    color: var(--surface_container_text);
    font-size: 1rem;
    font-weight: normal;

    position: absolute;

    transform: translateY(150%);

    padding: 0 10px;

    height: 30px;
    width: fit-content;
}

.project-tool:hover .project-tool-tooltip {
    opacity: 1;
}

.project-about {
    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;

    margin-bottom: 25px;

    height: auto;
    width: auto;
}

.project-link-container {
    display: flex;
    gap: 10px;

    height: 75px;
    width: 100%;
}

.project-link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container);
    border-radius: 10px;

    color: var(--surface_container_text);
    font-size: 1.5rem;
    text-decoration: none;

    height: 100%;
    width: 100%;
}

.project-link:hover {
    background-color: var(--surface_container_hover);
}

.project-image {
    overflow: hidden;
    object-fit: cover;

    flex: 1;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    height: auto;
    width: 100%;
}

.skill {
    display: flex;

    background-color: var(--surface);
    border-radius: 10px;

    text-decoration: none;

    height: 75px;
    width: calc((100% - (15px * (3 - 1))) / 3);
}

.skill:hover {
    background-color: var(--surface_hover);
}

.skill-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1/1;
}

.skill-image-container img {
    height: 65%;
    aspect-ratio: 1/1;
}

.skill-about {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
}

.skill-title {
    color: var(--surface_title);
    font-size: 1rem;
    font-weight: bold;
}

.skill-subtitle {
    color: var(--surface_subtext);
    font-size: 0.9rem;
    font-weight: normal;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

    background: var(--surface);

    padding: 25px;

    height: auto;
    width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: auto;
}

.footer-section-title {
    display: flex;
    align-items: center;

    color: var(--surface_title);
    font-size: 1.25rem;
    font-weight: bold;

    position: relative;

    height: 40px;
    width: 100%;
}

.footer-section-title::before {
    background-color: var(--outline);
    border-radius: 1px;
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    transition: width 200ms ease;
    
    height: 2px;
    width: 0;
}

.footer-section:hover .footer-section-title::before {
    width: 100%;
}

.footer-section-button-container {
    display: flex;
    flex-direction: column;

    height: auto;
    width: auto;
}

.footer-section-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    border-radius: 10px;

    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    padding: 0 10px;

    height: 40px;
    width: 250px;
}

.footer-section-button:hover {
    background-color: var(--surface_container);
    color: var(--surface_container_text);
}

#contributor {
    justify-content: start;
    gap: 10px;

    padding: 0;

    overflow: hidden;

    height: 50px;
}

.contributor-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1/1;
}

.contributor-image-container img {
    height: 100%;
    width: 100%;
}

.contributor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.contributor-title {
    color: var(--surface_title);
    font-size: 1rem;
    font-weight: bold;
}

.contributor-role {
    color: var(--surface_subtext);
    font-size: 0.9rem;
    font-weight: normal;
}

@media (max-width: 1050px) {
    label[for="navbar-toggle"],
    .language-selector-container,
    .return-to-top {
        border: 1px solid var(--outline);
    }

    #navbar-toggle:checked + label[for="navbar-toggle"] {
        border: none;
    }
}

@media (max-width: 800px) {
    .skill {
        width: calc((100% - (15px * (2 - 1))) / 2);
    }
}

@media (max-width: 700px) {
    .project {
        flex-direction: column-reverse;
    }

    .project-info {
        width: 100%;
    }

    .project-image {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .hero-top {
        height: 200px;
    }

    .hero-title {
        font-size: 1.25rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-about {
        font-size: 1rem;
    }

    .skill {
        width: 100%;
    }

    .footer-section {
        width: 100%;
    }

    .footer-section-title::before {
        width: 100%;
    }

    .footer-section-button-container {
        gap: 10px;
    }

    .footer-section-button {
        background-color: var(--surface_container);
        color: var(--surface_container_text);

        width: 100%;
    }

    .footer-section-button:hover {
        background-color: var(--surface_container_hover);
    }

    .footer-section-button i {
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .navbar {
        width: 100%;
    }

    .navbar-section-title::before {
        width: 100%;
    }

    .navbar-section-button-container {
        gap: 10px;
    }

    .navbar-section-button {
        background-color: var(--surface_container);
        color: var(--surface_container_text);
    }

    .navbar-section-button:hover {
        background-color: var(--surface_container_hover);
    }

    .navbar-section-button i {
        opacity: 1;
    }

    .return-to-top {
        right: 10px;
        bottom: 150px;
    }

    .hero-top {
        flex-direction: column;
        height: auto;
    }

    .hero-image-container {
        height: auto;
        width: 100%;
    }

    .hero-text {
        height: auto;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-about {
        font-size: 1.25rem;
    }

    .hero-shortcut {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .hero-title {
        font-size: 1.25rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-about {
        font-size: 1rem;
    }
}
