:root {
    --background: linear-gradient(135deg, #aaaaaa 0%, #ffffff 100%);

    --title: #111111;
    --text: #222222;
    --subtext: #444444;

    --surface: #eeeeee;
    --surface_hover: #bbbbbb;
    --surface_title: #222222;
    --surface_text: #333333;
    --surface_subtext: #555555;

    --surface_container: #cccccc;
    --surface_container_hover: #aaaaaa;
    --surface_container_title: #333333;
    --surface_container_text: #444444;
    --surface_container_subtext: #666666;

    --outline: #999999;
}

.dark {
    --background: linear-gradient(135deg, #555555 0%, #111111 100%);
    
    --title: #ffffff;
    --text: #eeeeee;
    --subtext: #bbbbbb;

    --surface: #111111;
    --surface_hover: #333333;
    --surface_title: #eeeeee;
    --surface_text: #cccccc;
    --surface_subtext: #aaaaaa;

    --surface_container: #222222;
    --surface_container_hover: #444444;
    --surface_container_title: #cccccc;
    --surface_container_text: #bbbbbb;
    --surface_container_subtext: #999999;

    --outline: #999999;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}


html {
    font-family: "Inter", "Font Awesome 7 Free", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    cursor: default;
}

body {
    background-color: #444444;
}

::selection {
    background-color: var(--title);
    color: var(--surface);
}

#navbar-toggle {
    display: none;
}

label[for="navbar-toggle"] {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: transparent;
    border-radius: 10px;

    cursor: pointer;
    
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 2;

    overflow: hidden;

    transition: background 100ms ease;

    height: 40px;
    aspect-ratio: 1/1;
}

label[for="navbar-toggle"]:hover {
    background-color: var(--surface);
}

#navbar-toggle:checked + label[for="navbar-toggle"] {
    background-color: var(--surface_container);
}

#navbar-toggle:checked + label[for="navbar-toggle"]:hover {
    background-color: var(--surface_container_hover);
}

label[for="navbar-toggle"] i {
    color: var(--surface_title);
    font-size: 1.2rem;

    position: absolute;

    transition: 
        opacity 200ms ease,
        transform 200ms ease;
}

#navbar-toggle:checked + label[for="navbar-toggle"] i {
    color: var(--surface_container_title);
}

.navbar-toggle-closed-icon {
    opacity: 1;
    transform: scale(1);
}

.navbar-toggle-open-icon {
    opacity: 0;
    transform: translateX(-100%);
}

#navbar-toggle:checked + label .navbar-toggle-closed-icon {
    opacity: 0;
    transform: scale(0);
}

#navbar-toggle:checked + label .navbar-toggle-open-icon {
    opacity: 1;
    transform: translateX(0);
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: var(--surface);
    
    position: fixed;
    top: 0;
    left: 0;

    padding: 25px;

    transform: translateX(-100%);

    transition: transform 200ms ease;
    
    height: 100dvh;
    width: 275px;
}

#navbar-toggle:checked ~ .navbar {
    transform: translateX(0);
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: end;

    border-bottom: 2px solid var(--outline);
    border-radius: 1px;

    color: var(--surface_title);
    font-size: 1.1rem;
    font-weight: bold;

    margin-left: calc(40px + 25px);
    
    height: 40px;
    width: auto;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.navbar-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.navbar-section-title {
    display: flex;
    align-items: center;

    color: var(--surface_title);
    font-size: 1.1rem;
    font-weight: bold;

    position: relative;

    height: 40px;
    width: 100%;
}

.navbar-section-title::before {
    background-color: var(--outline);
    border-radius: 1px;
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    transition: width 200ms ease;
    
    height: 2px;
    width: 0;
}

.navbar-section:hover .navbar-section-title::before {
    width: 100%;
}

.navbar-section-button-container {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
}

.navbar-section-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    border-radius: 10px;

    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    padding: 0 10px;

    transition: background 100ms ease;

    height: 40px;
    width: 100%;
}

.navbar-section-button:hover {
    background-color: var(--surface_container);
    color: var(--surface_container_text);
}

.navbar-section-button i {
    color: var(--surface_container_text);
    opacity: 0;

    transition: opacity 100ms ease;
}

.navbar-section-button:hover i {
    opacity: 1;
}

#theme-toggle {
    display: none;
}

label[for="theme-toggle"] {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--surface_container);
    border-radius: 10px;

    cursor: pointer;
    
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;

    transition: background 100ms ease;

    height: 40px;
    aspect-ratio: 1/1;
}

label[for="theme-toggle"]:hover {
    background-color: var(--surface_container_hover);
}

label[for="theme-toggle"] i {
    color: var(--surface_container_title);
    font-size: 1rem;

    position: absolute;

    transition: 
        opacity 200ms ease,
        transform 200ms ease;
}

.bright-icon {
    opacity: 1;
    transform: rotate(0);
}

.dark-icon {
    opacity: 0;
    transform: rotate(90deg);
}

#theme-toggle:checked + label .bright-icon {
    opacity: 0;
    transform: rotate(-90deg);
}

#theme-toggle:checked + label .dark-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background);

    padding: calc(25px + 40px + 25px) 25px;

    height: 100%;
    width: 100%;
}

.main-section {
    height: auto;
    width: 100%;
    max-width: 1000px;
}

#hero {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-top {
    display: flex;
    gap: 25px;

    height: 275px;
    width: 100%;
}

.hero-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--outline); 
    border-radius: 10px;

    height: 100%;
    aspect-ratio: 1/1;
}

.hero-image-container img {
    border-radius: 10px;

    height: 100%;
    width: 100%;
}

.hero-text {
    height: 100%;
    width: 100%;
}

.hero-title {
    color: var(--title);
    font-size: 1.75rem;
    font-weight: bold;
}

.hero-subtitle {
    color: var(--subtext);
    font-size: 1.25rem;
    font-weight: normal;

    margin-bottom: 25px;
}

.hero-paragraph {
    color: var(--text);
    font-size: 1.25rem;
    font-weight: normal;
}

.hero-separator {
    background-color: var(--outline);
    border-radius: 1px;

    height: 2px;
    width: 100%;
}

.hero-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    height: auto;
    width: 100%;
}

.hero-shortcut {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--surface);
    border-radius: 10px;

    padding: 25px;

    height: auto;
    width: calc((100% / 2) - (15px / 2));
}

.hero-shortcut-title {
    display: flex;
    align-items: center;

    border-bottom: 2px solid var(--outline);

    color: var(--surface_title);
    font-size: 1.1rem;
    font-weight: bold;;

    height: 40px;
    width: 100%;
}

.hero-shortcut-paragraph {
    color: var(--surface_text);
    font-size: 1rem;
    font-weight: normal;
}

.hero-shortcut-button-container {
    display: flex;
    align-items: end;
    justify-content: end;
    flex: 1;
    gap: 10px;

    height: auto;
    width: 100%;
}

.hero-shortcut-button {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container);
    border-radius: 10px;

    color: var(--surface_container_text);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

    padding: 0 10px;

    transition: background 100ms ease;

    height: 40px;
    width: fit-content;
}

.hero-shortcut-button:hover {
    background-color: var(--surface_container_hover);
}

@media (max-width: 600px) {
    .hero-top {
        height: 200px;
    }

    .hero-title {
        font-size: 1.25rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-paragraph {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .navbar {
        width: 100%;
    }

    .navbar-section-title::before {
        width: 100%;
    }

    .navbar-section-button-container {
        gap: 10px;
    }

    .navbar-section-button {
        background-color: var(--surface_container);
        color: var(--surface_container_text);
    }

    .navbar-section-button i {
        opacity: 1;
    }

    .hero-top {
        flex-direction: column;
        height: auto;
    }

    .hero-image-container {
        height: auto;
        width: 100%;
    }

    .hero-text {
        height: auto;
    }

    .hero-title {
        font-size: 1.75rem;
    }

    .hero-subtitle {
        font-size: 1.25rem;
    }

    .hero-paragraph {
        font-size: 1.25rem;
    }

    .hero-shortcut {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .hero-title {
        font-size: 1.25rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-paragraph {
        font-size: 1rem;
    }
}
