.palette-color-blue {
    --background: #f7f9ff;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #eef1f6;

    --inverse_primary: #9bcbfb;

    --inverse_surface: #2d3135;

    --on_background: #181c20;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #001d33;

    --on_primary_fixed: #001d33;

    --on_primary_fixed_variant: #0e4a73;

    --on_secondary: #ffffff;

    --on_secondary_container: #0e1d2a;

    --on_secondary_fixed: #0e1d2a;

    --on_secondary_fixed_variant: #3a4857;

    --on_surface: #181c20;

    --on_surface_variant: #42474e;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #231533;

    --on_tertiary_fixed: #231533;

    --on_tertiary_fixed_variant: #504061;

    --outline: #72777f;

    --outline_variant: #c2c7cf;

    --primary: #2f628c;

    --primary_container: #cee5ff;

    --primary_fixed: #cee5ff;

    --primary_fixed_dim: #9bcbfb;

    --scrim: #000000;

    --secondary: #51606f;

    --secondary_container: #d5e4f7;

    --secondary_fixed: #d5e4f7;

    --secondary_fixed_dim: #b9c8da;

    --shadow: #000000;

    --source_color: #306e9f;

    --surface: #f7f9ff;

    --surface_bright: #f7f9ff;

    --surface_container: #eceef3;

    --surface_container_high: #e6e8ee;

    --surface_container_highest: #e0e2e8;

    --surface_container_low: #f1f3f9;

    --surface_container_lowest: #ffffff;

    --surface_dim: #d8dae0;

    --surface_tint: #2f628c;

    --surface_variant: #dee3eb;

    --tertiary: #68587a;

    --tertiary_container: #eedbff;

    --tertiary_fixed: #eedbff;

    --tertiary_fixed_dim: #d3bfe6;
}

.palette-color-blue.dark {
    --background: #101418;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2d3135;

    --inverse_primary: #2f628c;

    --inverse_surface: #e0e2e8;

    --on_background: #e0e2e8;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #003353;

    --on_primary_container: #cee5ff;

    --on_primary_fixed: #001d33;

    --on_primary_fixed_variant: #0e4a73;

    --on_secondary: #233240;

    --on_secondary_container: #d5e4f7;

    --on_secondary_fixed: #0e1d2a;

    --on_secondary_fixed_variant: #3a4857;

    --on_surface: #e0e2e8;

    --on_surface_variant: #c2c7cf;

    --on_tertiary: #382a49;

    --on_tertiary_container: #eedbff;

    --on_tertiary_fixed: #231533;

    --on_tertiary_fixed_variant: #504061;

    --outline: #8c9198;

    --outline_variant: #42474e;

    --primary: #9bcbfb;

    --primary_container: #0e4a73;

    --primary_fixed: #cee5ff;

    --primary_fixed_dim: #9bcbfb;

    --scrim: #000000;

    --secondary: #b9c8da;

    --secondary_container: #3a4857;

    --secondary_fixed: #d5e4f7;

    --secondary_fixed_dim: #b9c8da;

    --shadow: #000000;

    --source_color: #306e9f;

    --surface: #101418;

    --surface_bright: #36393e;

    --surface_container: #1c2024;

    --surface_container_high: #272a2f;

    --surface_container_highest: #323539;

    --surface_container_low: #181c20;

    --surface_container_lowest: #0b0f12;

    --surface_dim: #101418;

    --surface_tint: #9bcbfb;

    --surface_variant: #42474e;

    --tertiary: #d3bfe6;

    --tertiary_container: #504061;

    --tertiary_fixed: #eedbff;

    --tertiary_fixed_dim: #d3bfe6;

}

.palette-color-green {
    --background: #f7fbf1;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #eff2e8;

    --inverse_primary: #a2d398;

    --inverse_surface: #2d322b;

    --on_background: #191d17;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #002203;

    --on_primary_fixed: #002203;

    --on_primary_fixed_variant: #255023;

    --on_secondary: #ffffff;

    --on_secondary_container: #111f0f;

    --on_secondary_fixed: #111f0f;

    --on_secondary_fixed_variant: #3c4b38;

    --on_surface: #191d17;

    --on_surface_variant: #42493f;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #002022;

    --on_tertiary_fixed: #002022;

    --on_tertiary_fixed_variant: #1e4d52;

    --outline: #73796f;

    --outline_variant: #c2c8bd;

    --primary: #3d6838;

    --primary_container: #bdf0b3;

    --primary_fixed: #bdf0b3;

    --primary_fixed_dim: #a2d398;

    --scrim: #000000;

    --secondary: #53634e;

    --secondary_container: #d6e8ce;

    --secondary_fixed: #d6e8ce;

    --secondary_fixed_dim: #baccb3;

    --shadow: #000000;

    --source_color: #52e256;

    --surface: #f7fbf1;

    --surface_bright: #f7fbf1;

    --surface_container: #ecefe6;

    --surface_container_high: #e6e9e0;

    --surface_container_highest: #e0e4da;

    --surface_container_low: #f2f5eb;

    --surface_container_lowest: #ffffff;

    --surface_dim: #d8dbd2;

    --surface_tint: #3d6838;

    --surface_variant: #dee4d8;

    --tertiary: #38656a;

    --tertiary_container: #bcebf0;

    --tertiary_fixed: #bcebf0;

    --tertiary_fixed_dim: #a0cfd3;
}

.palette-color-green.dark {
    --background: #10140f;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2d322b;

    --inverse_primary: #3d6838;

    --inverse_surface: #e0e4da;

    --on_background: #e0e4da;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #0c390e;

    --on_primary_container: #bdf0b3;

    --on_primary_fixed: #002203;

    --on_primary_fixed_variant: #255023;

    --on_secondary: #263423;

    --on_secondary_container: #d6e8ce;

    --on_secondary_fixed: #111f0f;

    --on_secondary_fixed_variant: #3c4b38;

    --on_surface: #e0e4da;

    --on_surface_variant: #c2c8bd;

    --on_tertiary: #00363b;

    --on_tertiary_container: #bcebf0;

    --on_tertiary_fixed: #002022;

    --on_tertiary_fixed_variant: #1e4d52;

    --outline: #8c9388;

    --outline_variant: #42493f;

    --primary: #a2d398;

    --primary_container: #255023;

    --primary_fixed: #bdf0b3;

    --primary_fixed_dim: #a2d398;

    --scrim: #000000;

    --secondary: #baccb3;

    --secondary_container: #3c4b38;

    --secondary_fixed: #d6e8ce;

    --secondary_fixed_dim: #baccb3;

    --shadow: #000000;

    --source_color: #52e256;

    --surface: #10140f;

    --surface_bright: #363a34;

    --surface_container: #1d211b;

    --surface_container_high: #272b25;

    --surface_container_highest: #323630;

    --surface_container_low: #191d17;

    --surface_container_lowest: #0b0f0a;

    --surface_dim: #10140f;

    --surface_tint: #a2d398;

    --surface_variant: #42493f;

    --tertiary: #a0cfd3;

    --tertiary_container: #1e4d52;

    --tertiary_fixed: #bcebf0;

    --tertiary_fixed_dim: #a0cfd3;
}

.palette-color-purple {
    --background: #fcf8ff;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #f3eff7;

    --inverse_primary: #c3c0ff;

    --inverse_surface: #313036;

    --on_background: #1b1b21;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #16134a;

    --on_primary_fixed: #16134a;

    --on_primary_fixed_variant: #424078;

    --on_secondary: #ffffff;

    --on_secondary_container: #1a1a2c;

    --on_secondary_fixed: #1a1a2c;

    --on_secondary_fixed_variant: #464559;

    --on_surface: #1b1b21;

    --on_surface_variant: #47464f;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #2f1123;

    --on_tertiary_fixed: #2f1123;

    --on_tertiary_fixed_variant: #603c50;

    --outline: #787680;

    --outline_variant: #c8c5d0;

    --primary: #5a5891;

    --primary_container: #e2dfff;

    --primary_fixed: #e2dfff;

    --primary_fixed_dim: #c3c0ff;

    --scrim: #000000;

    --secondary: #5e5c71;

    --secondary_container: #e3e0f9;

    --secondary_fixed: #e3e0f9;

    --secondary_fixed_dim: #c7c4dd;

    --shadow: #000000;

    --source_color: #3b3a5a;

    --surface: #fcf8ff;

    --surface_bright: #fcf8ff;

    --surface_container: #f0ecf4;

    --surface_container_high: #eae7ef;

    --surface_container_highest: #e5e1e9;

    --surface_container_low: #f6f2fa;

    --surface_container_lowest: #ffffff;

    --surface_dim: #dcd9e0;

    --surface_tint: #5a5891;

    --surface_variant: #e4e1ec;

    --tertiary: #7a5368;

    --tertiary_container: #ffd8ea;

    --tertiary_fixed: #ffd8ea;

    --tertiary_fixed_dim: #eab9d1;
}

.palette-color-purple.dark {
    --background: #131318;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #313036;

    --inverse_primary: #5a5891;

    --inverse_surface: #e5e1e9;

    --on_background: #e5e1e9;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #2b2a60;

    --on_primary_container: #e2dfff;

    --on_primary_fixed: #16134a;

    --on_primary_fixed_variant: #424078;

    --on_secondary: #2f2e42;

    --on_secondary_container: #e3e0f9;

    --on_secondary_fixed: #1a1a2c;

    --on_secondary_fixed_variant: #464559;

    --on_surface: #e5e1e9;

    --on_surface_variant: #c8c5d0;

    --on_tertiary: #472639;

    --on_tertiary_container: #ffd8ea;

    --on_tertiary_fixed: #2f1123;

    --on_tertiary_fixed_variant: #603c50;

    --outline: #928f9a;

    --outline_variant: #47464f;

    --primary: #c3c0ff;

    --primary_container: #424078;

    --primary_fixed: #e2dfff;

    --primary_fixed_dim: #c3c0ff;

    --scrim: #000000;

    --secondary: #c7c4dd;

    --secondary_container: #464559;

    --secondary_fixed: #e3e0f9;

    --secondary_fixed_dim: #c7c4dd;

    --shadow: #000000;

    --source_color: #3b3a5a;

    --surface: #131318;

    --surface_bright: #39383f;

    --surface_container: #201f25;

    --surface_container_high: #2a292f;

    --surface_container_highest: #35343a;

    --surface_container_low: #1b1b21;

    --surface_container_lowest: #0e0e13;

    --surface_dim: #131318;

    --surface_tint: #c3c0ff;

    --surface_variant: #47464f;

    --tertiary: #eab9d1;

    --tertiary_container: #603c50;

    --tertiary_fixed: #ffd8ea;

    --tertiary_fixed_dim: #eab9d1;
}

html {
    --normal-shadow: 0px 0px 16px -8px var(--shadow);
}

html.dark {
    --normal-shadow: 0px 0px 16px -4px var(--shadow);
}

* {
    box-sizing: border-box;

    font-family: "Inter", "Noto Sans JP", "Font Awesome 7 Free", sans-serif;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: auto;
}

html {
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

::selection {
    background-color: var(--primary);
    color: var(--on_primary);
}

body {
    background-color: var(--surface);
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.when-click {
    position: relative;
    z-index: 0;
}

.when-click::before {
    content: "";

    background-color: inherit;
    filter: brightness(0.75);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    height: 100%;
    width: 100%;

    transform: translate(-50%, -50%) scale(0);
}

html.dark .when-click::before {
    filter: brightness(1.5);
}

@keyframes click-expand {
    0% {
        border-radius: 100%;
        opacity: 0;

        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        border-radius: inherit;
        opacity: 1;

        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        border-radius: inherit;
        opacity: 0;

        transform: translate(-50%, -50%) scale(1);
    }
}

.when-click.clicked::before {
    animation: click-expand 400ms ease;
}

.tooltip-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    height: auto;
    width: auto;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 20px;
    box-shadow: var(--normal-shadow);
    opacity: 0;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;

    position: absolute;

    pointer-events: none;

    padding: 0 10px;

    min-height: 40px;
    width: auto;

    transform: scale(0);

    transition:
        opacity 200ms ease,
        transform 200ms ease;
}

.tooltip-parent:hover .tooltip {
    opacity: 1;

    transform: scale(1);
}

.tooltip-top {
    bottom: calc(100% + 10px);

    transform-origin: bottom center;
}

.tooltip-right {
    left: calc(100% + 10px);

    transform-origin: left center;
}

.tooltip-bottom {
    top: calc(100% + 10px);

    transform-origin: top center;
}

.tooltip-left {
    right: calc(100% + 10px);

    transform-origin: right center;
}

.toolbox {
    display: flex;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(50px / 2);
    box-shadow: var(--normal-shadow);

    position: fixed;
    bottom: 10px;
    left: 10px;

    padding: 5px;

    height: 50px;
    width: auto;
}

.toolbox-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;

    cursor: pointer;

    height: 100%;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        color 200ms ease;
}

.toolbox-button:hover,
.toolbox-checkbox:checked + .toolbox-button:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .toolbox-button:hover,
html.dark .toolbox-checkbox:checked + .toolbox-button:hover {
    background-color: var(--surface_bright);
}

.toolbox-checkbox:checked + .toolbox-button {
    background-color: var(--surface_container_high);
}

.toolbox-button i {
    position: absolute;

    transition:
        opacity 200ms ease,
        transform 200ms ease;
}

.toolbox-button i:first-of-type {
    opacity: 1;

    transform: scale(1);
}

.toolbox-button i:last-of-type {
    opacity: 0;

    transform: scale(0);
}

.toolbox-checkbox:checked + .toolbox-button i:first-of-type {
    opacity: 0;

    transform: scale(0);
}

.toolbox-checkbox:checked + .toolbox-button i:last-of-type {
    opacity: 1;

    transform: scale(1);
}

.theme-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--surface_container);
    border-radius: 20px;
    box-shadow: var(--normal-shadow);
    opacity: 0;

    position: fixed;
    bottom: calc(10px + 50px + 10px);
    left: 10px;

    padding: 10px;

    height: auto;
    max-height: calc(100dvh - 10px - 50px - 10px - 10px);
    width: 300px;

    transform: scale(0);
    transform-origin: bottom left;

    transition:
        opacity 200ms ease,
        transform 200ms ease;
}

#theme-menu-toggle:checked ~ .theme-menu {
    opacity: 1;

    transform: scale(1);
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: calc((10px * 2) + 30px);

    cursor: pointer;
    user-select: none;

    padding: 10px;

    height: auto;
    width: 100%;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.theme-toggle-container:hover {
    background-color: var(--surface_dim);
}

html.dark .theme-toggle-container:hover {
    background-color: var(--surface_bright);
}

.theme-toggle-container-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.theme-toggle-switch-container {
    background-color: var(--surface_container_highest);
    border-radius: calc(30px / 2);

    padding: 5px;

    height: 30px;
    width: calc((30px * 2) - (5px * 2));

    transition: background 200ms ease;
}

.theme-toggle-switch {
    background-color: var(--surface_dim);
    border-radius: 100%;

    height: 100%;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        transform 200ms ease;
}

#theme-toggle:checked + .theme-toggle-container .theme-toggle-switch-container {
    background-color: var(--primary);
}

#theme-toggle:checked + .theme-toggle-container .theme-toggle-switch-container .theme-toggle-switch {
    background-color: var(--on_primary);

    transform: translateX(100%);
}

.palette-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.palette-color-label {
    background-color: var(--surface_container_high);
    border-radius: 20px;

    cursor: pointer;

    overflow: hidden;

    height: auto;
    width: 100%;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.palette-color-label:hover {
    background-color: var(--surface_dim);
}

html.dark .palette-color-label:hover {
    background-color: var(--surface_bright);
}

.palette-radio:checked + .palette-color-label:hover {
    background-color: var(--surface_container_high);

    cursor: default;
}

.palette-color-label-shade-container {
    display: flex;

    border-radius: 20px;

    overflow: hidden;

    height: 100px;
    width: 100%;
}

.palette-color-label-shade {
    height: 100%;
    width: 100%;
}

.palette-color-label-shade:nth-child(1) {
    background-color: var(--primary);
}

.palette-color-label-shade:nth-child(2) {
    background-color: var(--inverse_primary);
}

.palette-color-label-shade:nth-child(3) {
    background-color: var(--primary_container);
}

.palette-color-label-shade:nth-child(4) {
    background-color: var(--on_primary);
}

.palette-color-label-shade:nth-child(5) {
    background-color: var(--surface);
}

.palette-color-label-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    height: auto;
    width: 100%;
}

.palette-color-label-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.palette-color-label-check {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;

    color: var(--on_primary);
    font-size: 1rem;

    height: 30px;
    aspect-ratio: 1/1;

    transition: background 200ms ease;
}

.palette-radio:checked + .palette-color-label .palette-color-label-check {
    background-color: var(--primary);
}

.palette-color-label-check i {
    transform: scale(0);

    transition: transform 200ms ease;
}

.palette-radio:checked + .palette-color-label .palette-color-label-check i {
    transform: scale(1);
}

.search-section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--surface_container);
    border-radius: 20px;
    box-shadow: var(--normal-shadow);
    opacity: 0;

    position: fixed;
    bottom: calc(10px + 50px + 10px);
    left: 10px;

    padding: 10px;

    height: auto;
    max-height: calc(100dvh - 10px - 50px - 10px - 10px);
    width: 400px;

    transform: scale(0);
    transform-origin: bottom left;

    transition:
        opacity 200ms ease,
        transform 200ms ease;
}

#search-section-toggle:checked ~ .search-section-container {
    opacity: 1;

    transform: scale(1);
}

.search-section {
    background-color: var(--surface_container_high);
    border-radius: calc(50px / 2);
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;

    padding: 0 10px;

    height: 50px;
    width: 100%;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.search-section:hover,
.search-section-container:focus-within .search-section {
    background-color: var(--surface_dim);
}

html.dark .search-section:hover,
html.dark .search-section-container:focus-within .search-section {
    background-color: var(--surface_bright);
}

.search-section::placeholder {
    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: bold;
}

.search-section-result-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.search-section-result {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: 20px;

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    padding: 10px;

    height: auto;
    width: 100%;

    transition: background 200ms ease;
}

.search-section-result:hover {
    background-color: var(--surface_dim);
}

html.dark .search-section-result:hover {
    background-color: var(--surface_bright);
}

.search-section-result-info {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: auto;
}

.search-section-result-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.search-section-result-action {
    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: normal;
}

.section-menu {
    display: flex;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(60px / 2);
    box-shadow: var(--normal-shadow);

    position: fixed;
    bottom: 10px;
    left: 50%;

    padding: 5px;

    height: 60px;
    width: auto;

    transform: translateX(-50%);
}

.section-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    height: 100%;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        color 200ms ease;
}

.section-menu-button:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .section-menu-button:hover{
    background-color: var(--surface_bright);
}

html.current-section-me .section-indicator-me,
html.current-section-projects .section-indicator-projects,
html.current-section-pages .section-indicator-pages,
html.current-section-me .section-indicator-me:hover,
html.current-section-projects .section-indicator-projects:hover,
html.current-section-pages .section-indicator-pages:hover {
    background-color: var(--primary_container);

    color: var(--on_primary_container);
}

html.current-section-me .section-indicator-me::before,
html.current-section-projects .section-indicator-projects::before,
html.current-section-pages .section-indicator-pages::before {
    animation: none;
}

.language-selector-container {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(50px / 2);
    box-shadow: var(--normal-shadow);

    position: fixed;
    right: 10px;
    bottom: 10px;

    padding: 5px;

    height: 50px;
    width: auto;
}

.language-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 100%;

    color: var(--on_primary);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

#language-selector {
    background-color: transparent;
    border-radius: calc((50px - (5px * 2)) / 2);
    border: none;
    outline: none;

    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: normal;

    cursor: pointer;

    padding: 0 5px;

    height: 100%;
    width: fit-content;

    transition:
        background 200ms ease,
        color 200ms ease;
}

#language-selector:hover,
.language-selector-container:focus-within #language-selector{
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark #language-selector:hover,
html.dark .language-selector-container:focus-within #language-selector {
    background-color: var(--surface_bright);
}

.go-to-top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container);
    border-radius: 100%;
    box-shadow: var(--normal-shadow);

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    cursor: pointer;

    position: fixed;
    right: 10px;
    bottom: calc(10px + 50px + 10px);

    height: 50px;
    aspect-ratio: 1/1;

    transform: scale(0);
    transform-origin: bottom center;

    transition:
        background 200ms ease,
        color 200ms ease,
        transform 200ms ease;
}

.go-to-top:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

.go-to-top.scrolling-up {
    transform: scale(1);
}

html.dark .go-to-top:hover {
    background-color: var(--surface_bright);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    padding: 100px 20px;

    height: auto;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: auto;
    width: 100%;
    max-width: 1000px;
}

#me {
    max-width: 1200px;
}

.section-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: auto;
    width: 100%;
}

.section-title {
    color: var(--on_surface);
    font-size: 2rem;
    font-weight: bold;
}

.me-container {
    display: flex;

    background-color: var(--surface_container);
    border-radius: 20px;

    height: auto;
    width: 100%;
}

.me-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: var(--surface_container_high);
    border-radius: 20px;

    position: relative;

    padding: 20px;

    height: auto;
    width: 300px;
    flex: 0 0 auto;
}

.me-image {
    border-radius: 100%;

    width: 50%;
    aspect-ratio: 1/1;
    flex: 0 0 auto;
}

.me-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: auto;
}

.me-name {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.me-about {
    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.me-social-container-toggle-label {
    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;
    box-shadow: var(--normal-shadow);

    color: var(--on_surface_variant);
    font-size: 1rem;

    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 10px;

    height: 40px;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        color 200ms ease;
}

.me-social-container-toggle-label:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .me-social-container-toggle-label:hover {
    background-color: var(--surface_bright);
}

.me-social-container-toggle-label i {
    position: absolute;

    transition:
        opacity 200ms ease,
        transform 200ms ease;
}

.me-social-container-toggle-label i:first-of-type {
    opacity: 1;

    transform: scale(1);
}

.me-social-container-toggle-label i:last-of-type {
    opacity: 0;

    transform: scale(0);
}

#me-social-container-toggle:checked ~ .me-social-container-toggle-label i:first-of-type {
    opacity: 0;

    transform: scale(0);
}

#me-social-container-toggle:checked ~ .me-social-container-toggle-label i:last-of-type {
    opacity: 1;

    transform: scale(1);
}

.me-social-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    height: auto;
    width: auto;
}

.me-social {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    height: 40px;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        color 200ms ease;
}

.me-social:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .me-social:hover {
    background-color: var(--surface_bright);
}

.me-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;

    height: auto;
    width: 100%;
}

.me-content-toggle-container {
    display: flex;
    gap: 5px;

    height: auto;
    width: auto;
}

.me-content-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary_container);
    border-radius: calc((40px / 2) - 10px);

    color: var(--on_primary_container);
    font-size: 1rem;
    font-weight: normal;

    cursor: pointer;
    user-select: none;

    padding: 0 10px;

    height: 40px;
    width: auto;

    transition:
        background 200ms ease,
        border-radius 200ms ease,
        color 200ms ease;
}

.me-content-toggle:first-of-type {
    border-radius: calc(40px / 2) calc((40px / 2) - 10px) calc((40px / 2) - 10px) calc(40px / 2);
}

.me-content-toggle:last-of-type {
    border-radius: calc((40px / 2) - 10px) calc(40px / 2) calc(40px / 2) calc((40px / 2) - 10px);
}

.me-content-toggle:hover {
    background-color: var(--inverse_primary);
}

#me-content-card-container-toggle:checked ~ .me-content-toggle-container .me-content-card-container-toggle-label,
#me-content-tree-container-toggle:checked ~ .me-content-toggle-container .me-content-tree-container-toggle-label {
    background-color: var(--primary);
    border-radius: calc(40px / 2);

    color: var(--on_primary);
}

.me-content-card-container {
    display: none;
    flex-wrap: wrap;
    gap: 10px;

    height: 100%;
    width: 100%;
}

#me-content-card-container-toggle:checked ~ .me-content-card-container {
    display: flex;
}

.me-content-card {
    display: flex;
    flex-direction: column;

    background-color: var(--surface_container_high);
    border-radius: 20px;

    height: fit-content;
    max-height: 300px;
    width: calc((100% - (10px * (2 - 1))) / 2);
}

.me-content-card-info {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container_highest);
    border-radius: inherit;

    padding: 20px;

    height: auto;
    width: 100%;
}

.me-content-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 100%;

    color: var(--on_primary);
    font-size: 1rem;

    height: 30px;
    aspect-ratio: 1/1;
}

.me-content-card-title {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
}

.me-content-card-item-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: auto;

    padding: 10px;

    height: 100%;
    width: 100%;
}

.me-content-card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_highest);
    border-radius: calc(50px / 2);

    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: normal;

    padding: 10px;

    height: auto;
    width: 100%;
}

.me-content-card-item-info {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--on_surface);
    font-weight: bold;

    height: auto;
    width: auto;
}

.me-content-card-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary_container);
    border-radius: 100%;

    color: var(--on_primary_container);
    font-size: 1rem;

    height: 30px;
    aspect-ratio: 1/1;
}

.me-content-card-item-icon img {
    height: 50%;
    width: auto;
}

.me-content-tree-container {
    display: none;

    border-radius: 20px;

    height: 100%;
    width: 100%;
}

#me-content-tree-container-toggle:checked ~ .me-content-tree-container {
    display: flex;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    height: auto;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;

    background-color: var(--surface_container);
    background-position: center;
    background-size: 100%;
    border-radius: 20px;

    text-decoration: none;

    overflow: hidden;

    height: auto;
    width: calc((100% - (10px * (2 - 1))) / 2);

    transition: background 200ms ease;
}

.project:hover {
    background-size: 110%;
}

.project-dotfiles {
    background-image: url("/assets/projects/dotfiles.png");
}

.project-website {
    background-image: url("/assets/projects/website-dark.png");
}

html.dark .project-website {
    background-image: url("/assets/projects/website-light.png");
}

.project-github {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

    padding: 20px 20px 0 20px;

    height: auto;
    width: 100%;
}

.project-github-data {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: var(--surface_container_high);
    border-radius: calc(30px / 2);

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;

    padding: 0 5px;

    height: 30px;
    width: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: linear-gradient(to top, var(--shadow), transparent);

    padding: 0 20px 20px 20px;

    height: auto;
    width: 100%;
}

.project-title {
    color: #eeeeee;
    font-size: 1.25rem;
    font-weight: bold;
}

html.dark .project-title {
    color: var(--on_surface);
}

.project-tag-tool-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    height: auto;
    width: auto;
}

.project-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: calc(35px / 2);

    color: var(--on_primary);
    font-size: 1rem;
    font-weight: normal;

    padding: 0 5px;

    height: 35px;
    width: auto;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    height: auto;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--surface_container);
    border-radius: 20px;

    text-decoration: none;

    padding: 20px;

    height: auto;
    width: calc((100% - (10px * (2 - 1))) / 2);

    transition: background 200ms ease;
}

.page:hover {
    background-color: var(--surface_dim);
}

html.dark .page:hover {
    background-color: var(--surface_bright);
}

.page-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: auto;
}

.page-title {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
}

.page-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    height: auto;
    width: auto;
}

.page-tag {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: var(--primary_container);
    border-radius: calc(35px / 2);

    color: var(--on_primary_container);
    font-size: 1rem;
    font-weight: normal;

    padding: 5px;

    height: 35px;
    width: auto;
}

.page-tag.alert {
    background-color: var(--error_container);

    color: var(--on_error_container);
}

.page-tag-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 100%;

    color: var(--on_primary);

    height: 100%;
    aspect-ratio: 1/1;
}

.page-tag.alert .page-tag-icon{
    background-color: var(--error);

    color: var(--on_error);
}

.page-about {
    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;
}

.section-menu,
.language-selector-container,
.go-to-top{
    z-index: 9997;
}

.tooltip,
.toolbox {
    z-index: 9998;
}

@media (max-width: 1240px) {
    .me-container {
        flex-direction: column;
    }

    .me-card {
        justify-content: start;

        flex-direction: row;

        height: 150px;
        width: 100%;
    }

    .me-image {
        height: 100%;
        width: auto;
    }

    .me-info {
        align-items: start;
    }

    .me-name,
    .me-about {
        text-align: left;
    }

    .me-social-container {
        justify-content: end;

        flex: 1;
    }
}

@media (max-width: 1040px) {
    .project {
        width: 100%;
    }

    .page {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .toolbox {
        top: 10px;
        bottom: auto;
    }

    .theme-menu {
        top: calc(10px + 50px + 10px);
        right: 10px;
        bottom: auto;

        max-height: calc(100dvh - 10px - 50px - 10px - 60px - 10px - 10px);
        width: auto;

        transform-origin: top left;
    }

    .search-section-container {
        top: calc(10px + 50px + 10px);
        right: 10px;
        bottom: auto;

        max-height: calc(100dvh - 10px - 50px - 10px - 60px - 10px - 10px);
        width: auto;

        transform: scale(0);
        transform-origin: top left;
    }

    #search-section-toggle:checked ~ .search-section-container {
        transform: scale(1);
    }

    .language-selector-container {
        top: 10px;
        bottom: auto;
    }

    .go-to-top {
        bottom: 200px;
    }

    main {
        gap: 50px;

        padding: calc(10px + 50px + 20px) 20px calc(20px + 60px + 10px) 20px;
    }

    .me-card {
        height: 100px;
    }

    .me-social-container-toggle-label {
        display: flex;
    }

    .me-social-container {
        gap: 5px;

        opacity: 0;

        position: absolute;
        top: 10px;
        right: calc(10px + 40px + 10px);

        transform: scale(0);
        transform-origin: right center;

        transition:
            opacity 200ms ease,
            transform 200ms ease;
    }

    #me-social-container-toggle:checked ~ .me-social-container {
        opacity: 1;

        transform: scale(1);
    }

    .me-social {
        box-shadow: var(--normal-shadow);
    }

    .me-content-card {
        width: 100%;
    }
}
