:root {
    --background: #121212;
    --surface: #1E1E1E;
    --surface2: rgba(30, 30, 30, 0.9);
    --text: #E0E0E0;

    --accent1: #4A90E2;
    --accent2: #E53935; 
    --accent3: #FDD835;

    --borders: #292929;
    --disabled: #757575;
    --hover: #333333;
}

::selection {
    background: #8c1b31;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text);
    font-family: "Roboto", serif;
}

a {
    color: var(--accent1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-bar-box {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;

    margin-top: 2.5%;
    padding: 0 2.5%;

    height: 100px;
    width: 100%;
}

.top-bar {
    display: flex;
    align-items: center;

    background-color: var(--surface2);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    border: 3px solid var(--borders);

    overflow: hidden;

    height: 100%;
    width: 100%;
    max-width: 1920px;
}

.top-bar-button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;

    font-size: 18pt;

    transition: background-color 50ms linear;

    height: 100%;
    width: 25%;
}

.top-bar-button:hover {
    background-color: var(--hover);

    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;

    background-color: var(--background);

    padding-top: 100px;

    overflow: auto;

    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5%;

    height: auto;
    width: 100%;
    max-width: 1300px;
}

.content-box {
    background-color: var(--surface);
    border-radius: 15px;
    border: 3px solid var(--borders);

    min-width: 1109px;
    max-width: 1109px;
}

#about {
    display: flex;

    height: 500px;
    width: 100%;
}

.identification {
    border-radius: 15px 0 0 15px;
    border-right: 1.5px solid var(--borders);

    height: 100%;
    width: 50%;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25%;
    width: 100%;
}

.name p {
    font-size: 20pt;

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
    text-decoration-color: var(--hover);
    border-radius: 50px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 75%;
    width: 100%;
}

.photo-frame {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background-color: var(--disabled);
    border: 3px solid var(--borders);
    border-radius: 50%;

    height: 300px;
    width: 300px;
}

.photo-frame img {
    height: 100%;
    width: 100%;
}

.information {
    padding: 3%;

    height: 100%;
    width: 50%;
}

.information p {
    background-color: var(--surface2);
    border: 3px solid var(--borders);
    border-radius: 10px;
    padding: 5%;
    overflow: auto;

    font-size: 14pt;
    text-align: justify;

    height: 100%;
    width: 100%;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    min-height: 80px;
    height: 80px;
    width: 100%;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    text-decoration: none;
    color: inherit;

    transition: background-color 50ms linear;

    height: 100%;
    width: 80px;
}

#social-links a:hover {
    background-color: var(--hover);
}

#social-links a i {
    font-size: 45px;
}

#skills-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin-top: 10px;
    gap: 10px;

    padding: 5%;
    
    height: auto;
    width:100%;
}

.skill {
    background-color: var(--surface2);
    border: 3px solid var(--borders);
    border-radius: 10px;

    min-height: 200px;
    height: 200px;
    min-width: 300px;
    width: 300px;
}

.skill-title {
    display: flex;

    border-bottom: 3px solid var(--borders);

    height: 50px;
    width: 100%;
}

.skill-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 3px solid var(--borders);
    height: 100%;
    width: 50px;
}

.skill-icon i {
    font-size: 35px;
}

.skill-name {
    display: flex;
    align-items: center;

    padding-left: 10px;

    font-size: 13pt;

    height: 100%;
    width: 250px;
}

.skill-info {
    padding: 30px;
    
    font-size: 12pt;

    height: 150px;
    width: 100%;
}

@media screen and (max-width: 1500px) {
    .content-box {
        min-width: 0;
    }
}

@media screen and (max-width: 960px) {
    .top-bar-button {
        font-size: 17pt;
    }

    #about {
        height: 400px;
    }

    .name p {
        font-size: 19pt;
    }

    .photo-frame {
        height: 250px;
        width: 250px;
    }

    .information p {
        font-size: 13pt;
    }
}

@media screen and (max-width: 640px) {
    .top-bar-button {
        font-size: 16pt;
    }

    #about {
        height: 300px;
    }

    .name p {
        font-size: 18pt;
    }

    .photo-frame {
        height: 200px;
        width: 200px;
    }

    .information p {
        font-size: 12pt;
    }
}

@media screen and (max-width: 480px) {
    .top-bar-button {
        font-size: 15pt;
    }
    
    #about {
        height: 250px;
    }

    .name p {
        font-size: 17pt;
    }

    .photo-frame {
        height: 150px;
        width: 150px;
    }

    .information p {
        font-size: 11pt;
    }

    .skill {
        min-height: 150px;
        height: 150px;
        min-width: 250px;
        width: 250px;
    }

    .skill-title {
        height: 37.5px;
    }
    
    .skill-icon {
        width: 37.5px;
    }
    
    .skill-icon i {
        font-size: 25px;
    }
    
    .skill-name {
        font-size: 12pt;
    
        width: 212.5px;
    }
    
    .skill-info {
        padding: 20px;
        
        font-size: 11pt;
    
        height: 112.5px;
    }
}