/* Catppuccin Mocha - https://catppuccin.com/palette/ */
:root {
    --background: #1e1e2e;  /*Base*/
    --background2: #181825; /*Mantle*/
    --surface: #313244;     /*Surface 0*/
    --border: #6c7086;      /*Overlay 0*/
    --accent: #89b4fa;      /*Blue*/
    --text1: #cdd6f4;       /*Text*/
    --disabled: #a6adc8;    /*Subtext 0*/
    --hover: #b4befe;       /*Lavender*/
}

/* Wine based palette */
:root:has(#wine:checked) {
    --background: #1E1619;
    --background2: #181214;
    --surface: #2A2024;
    --border: #45353B;
    --accent: #A35C79;
    --text1: #E6D9DD;
    --disabled: #74656A;
    --hover: #7F3E5E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text1);

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    /*Firefox scrollbar*/
    scrollbar-width: 20px;
    scrollbar-color: var(--accent) var(--surface);
}

/*Chrome, Edge, and Safari scrollbar width*/
*::-webkit-scrollbar {
    width: 10px;
}
  
/*Chrome, Edge, and Safari scrollbar track color*/
*::-webkit-scrollbar-track {
    background: var(--surface);
}
  
/*Chrome, Edge, and Safari scrollbar color*/
*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

::selection {
    background: var(--hover);
}

.default-box {
    background-color: var(--surface);
    border: 3px solid var(--border);
    border-radius: 5px;

    transition: border-color 100ms linear;
}

.default-box:hover {
    border-color: var(--hover);
}

#navbartoggle {
    display: flexs;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;

    height: 50px;
    width: 50px;
}

#navbartoggle i {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--disabled);
    font-size: 30px;

    border-radius: 50%;

    height: 100%;
    width: 100%;
}

#navbartoggle i:hover {
    cursor: pointer;
}

#navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-right: 3px solid var(--border);

    position: fixed;
    top: 0;

    transition: border-color 100ms linear;

    height: 100vh;
    width: 300px;
}

#navbar:hover {
    border-color: var(--hover);
}

.navbar-button {
    background-color: var(--surface);
    border: 3px solid var(--border);
    border-radius: 5px;

    margin-bottom: 10px;

    transition: border-color 100ms linear;

    height: 50px;
    width: 200px;
}

.navbar-button:hover {
    border-color: var(--hover);
}

.navbar-button a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text1);
    text-decoration: none;

    height: 100%;
    width: 100%;
}

@media screen and (max-width: 885px) {
    #navbar {
        border: none;
        width: 100%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background);

    font-size: 25pt;

    height: 100vh;
    width: 100%;
}

.main span {
    text-align: center;
    
    margin-bottom: 25px;
}

.home-button {
    background-color: var(--surface);
    border: 3px solid var(--border);
    border-radius: 5px;

    transition: border-color 100ms linear;

    height: 50px;
    width: 125px;
}

.home-button a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text1);
    text-decoration: none;

    height: 100%;
    width: 100%;
}

.home-button:hover {
    border-color: var(--hover);
}

.theme-indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12pt;

    position: absolute;
    bottom: 25px;

    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background2);

    padding: 25px;
    
    width: 100%;
}

.colorpicker > fieldset {
    display: flex;

    gap: 25px;
    padding: 25px;

    font-size: 12pt;
}

.theme-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 15px;
}

.colorpicker input[type="radio"] {
    appearance: none;
    border-radius: 50%;

    outline: 2px solid var(--hover);
    outline-offset: 2px;
    
    width: 10px;
    height: 10px;
}

.colorpicker input[type="radio"]:checked {
    background-color: var(--hover);
}

.colorpicker input[type="radio"]:hover {
    cursor: pointer;
}