.palette-color-blue {
    --background: #f7f9ff;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #eef1f6;

    --inverse_primary: #9bcbfb;

    --inverse_surface: #2d3135;

    --on_background: #181c20;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #001d33;

    --on_primary_fixed: #001d33;

    --on_primary_fixed_variant: #0e4a73;

    --on_secondary: #ffffff;

    --on_secondary_container: #0e1d2a;

    --on_secondary_fixed: #0e1d2a;

    --on_secondary_fixed_variant: #3a4857;

    --on_surface: #181c20;

    --on_surface_variant: #42474e;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #231533;

    --on_tertiary_fixed: #231533;

    --on_tertiary_fixed_variant: #504061;

    --outline: #72777f;

    --outline_variant: #c2c7cf;

    --primary: #2f628c;

    --primary_container: #cee5ff;

    --primary_fixed: #cee5ff;

    --primary_fixed_dim: #9bcbfb;

    --scrim: #000000;

    --secondary: #51606f;

    --secondary_container: #d5e4f7;

    --secondary_fixed: #d5e4f7;

    --secondary_fixed_dim: #b9c8da;

    --shadow: #000000;

    --source_color: #306e9f;

    --surface: #f7f9ff;

    --surface_bright: #f7f9ff;

    --surface_container: #eceef3;

    --surface_container_high: #e6e8ee;

    --surface_container_highest: #e0e2e8;

    --surface_container_low: #f1f3f9;

    --surface_container_lowest: #ffffff;

    --surface_dim: #d8dae0;

    --surface_tint: #2f628c;

    --surface_variant: #dee3eb;

    --tertiary: #68587a;

    --tertiary_container: #eedbff;

    --tertiary_fixed: #eedbff;

    --tertiary_fixed_dim: #d3bfe6;
}

.palette-color-blue.dark {
    --background: #101418;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2d3135;

    --inverse_primary: #2f628c;

    --inverse_surface: #e0e2e8;

    --on_background: #e0e2e8;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #003353;

    --on_primary_container: #cee5ff;

    --on_primary_fixed: #001d33;

    --on_primary_fixed_variant: #0e4a73;

    --on_secondary: #233240;

    --on_secondary_container: #d5e4f7;

    --on_secondary_fixed: #0e1d2a;

    --on_secondary_fixed_variant: #3a4857;

    --on_surface: #e0e2e8;

    --on_surface_variant: #c2c7cf;

    --on_tertiary: #382a49;

    --on_tertiary_container: #eedbff;

    --on_tertiary_fixed: #231533;

    --on_tertiary_fixed_variant: #504061;

    --outline: #8c9198;

    --outline_variant: #42474e;

    --primary: #9bcbfb;

    --primary_container: #0e4a73;

    --primary_fixed: #cee5ff;

    --primary_fixed_dim: #9bcbfb;

    --scrim: #000000;

    --secondary: #b9c8da;

    --secondary_container: #3a4857;

    --secondary_fixed: #d5e4f7;

    --secondary_fixed_dim: #b9c8da;

    --shadow: #000000;

    --source_color: #306e9f;

    --surface: #101418;

    --surface_bright: #36393e;

    --surface_container: #1c2024;

    --surface_container_high: #272a2f;

    --surface_container_highest: #323539;

    --surface_container_low: #181c20;

    --surface_container_lowest: #0b0f12;

    --surface_dim: #101418;

    --surface_tint: #9bcbfb;

    --surface_variant: #42474e;

    --tertiary: #d3bfe6;

    --tertiary_container: #504061;

    --tertiary_fixed: #eedbff;

    --tertiary_fixed_dim: #d3bfe6;

}

.palette-color-green {
    --background: #f7fbf1;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #eff2e8;

    --inverse_primary: #a2d398;

    --inverse_surface: #2d322b;

    --on_background: #191d17;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #002203;

    --on_primary_fixed: #002203;

    --on_primary_fixed_variant: #255023;

    --on_secondary: #ffffff;

    --on_secondary_container: #111f0f;

    --on_secondary_fixed: #111f0f;

    --on_secondary_fixed_variant: #3c4b38;

    --on_surface: #191d17;

    --on_surface_variant: #42493f;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #002022;

    --on_tertiary_fixed: #002022;

    --on_tertiary_fixed_variant: #1e4d52;

    --outline: #73796f;

    --outline_variant: #c2c8bd;

    --primary: #3d6838;

    --primary_container: #bdf0b3;

    --primary_fixed: #bdf0b3;

    --primary_fixed_dim: #a2d398;

    --scrim: #000000;

    --secondary: #53634e;

    --secondary_container: #d6e8ce;

    --secondary_fixed: #d6e8ce;

    --secondary_fixed_dim: #baccb3;

    --shadow: #000000;

    --source_color: #52e256;

    --surface: #f7fbf1;

    --surface_bright: #f7fbf1;

    --surface_container: #ecefe6;

    --surface_container_high: #e6e9e0;

    --surface_container_highest: #e0e4da;

    --surface_container_low: #f2f5eb;

    --surface_container_lowest: #ffffff;

    --surface_dim: #d8dbd2;

    --surface_tint: #3d6838;

    --surface_variant: #dee4d8;

    --tertiary: #38656a;

    --tertiary_container: #bcebf0;

    --tertiary_fixed: #bcebf0;

    --tertiary_fixed_dim: #a0cfd3;
}

.palette-color-green.dark {
    --background: #10140f;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2d322b;

    --inverse_primary: #3d6838;

    --inverse_surface: #e0e4da;

    --on_background: #e0e4da;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #0c390e;

    --on_primary_container: #bdf0b3;

    --on_primary_fixed: #002203;

    --on_primary_fixed_variant: #255023;

    --on_secondary: #263423;

    --on_secondary_container: #d6e8ce;

    --on_secondary_fixed: #111f0f;

    --on_secondary_fixed_variant: #3c4b38;

    --on_surface: #e0e4da;

    --on_surface_variant: #c2c8bd;

    --on_tertiary: #00363b;

    --on_tertiary_container: #bcebf0;

    --on_tertiary_fixed: #002022;

    --on_tertiary_fixed_variant: #1e4d52;

    --outline: #8c9388;

    --outline_variant: #42493f;

    --primary: #a2d398;

    --primary_container: #255023;

    --primary_fixed: #bdf0b3;

    --primary_fixed_dim: #a2d398;

    --scrim: #000000;

    --secondary: #baccb3;

    --secondary_container: #3c4b38;

    --secondary_fixed: #d6e8ce;

    --secondary_fixed_dim: #baccb3;

    --shadow: #000000;

    --source_color: #52e256;

    --surface: #10140f;

    --surface_bright: #363a34;

    --surface_container: #1d211b;

    --surface_container_high: #272b25;

    --surface_container_highest: #323630;

    --surface_container_low: #191d17;

    --surface_container_lowest: #0b0f0a;

    --surface_dim: #10140f;

    --surface_tint: #a2d398;

    --surface_variant: #42493f;

    --tertiary: #a0cfd3;

    --tertiary_container: #1e4d52;

    --tertiary_fixed: #bcebf0;

    --tertiary_fixed_dim: #a0cfd3;
}

.palette-color-purple {
    --background: #fcf8ff;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #f3eff7;

    --inverse_primary: #c3c0ff;

    --inverse_surface: #313036;

    --on_background: #1b1b21;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #16134a;

    --on_primary_fixed: #16134a;

    --on_primary_fixed_variant: #424078;

    --on_secondary: #ffffff;

    --on_secondary_container: #1a1a2c;

    --on_secondary_fixed: #1a1a2c;

    --on_secondary_fixed_variant: #464559;

    --on_surface: #1b1b21;

    --on_surface_variant: #47464f;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #2f1123;

    --on_tertiary_fixed: #2f1123;

    --on_tertiary_fixed_variant: #603c50;

    --outline: #787680;

    --outline_variant: #c8c5d0;

    --primary: #5a5891;

    --primary_container: #e2dfff;

    --primary_fixed: #e2dfff;

    --primary_fixed_dim: #c3c0ff;

    --scrim: #000000;

    --secondary: #5e5c71;

    --secondary_container: #e3e0f9;

    --secondary_fixed: #e3e0f9;

    --secondary_fixed_dim: #c7c4dd;

    --shadow: #000000;

    --source_color: #3b3a5a;

    --surface: #fcf8ff;

    --surface_bright: #fcf8ff;

    --surface_container: #f0ecf4;

    --surface_container_high: #eae7ef;

    --surface_container_highest: #e5e1e9;

    --surface_container_low: #f6f2fa;

    --surface_container_lowest: #ffffff;

    --surface_dim: #dcd9e0;

    --surface_tint: #5a5891;

    --surface_variant: #e4e1ec;

    --tertiary: #7a5368;

    --tertiary_container: #ffd8ea;

    --tertiary_fixed: #ffd8ea;

    --tertiary_fixed_dim: #eab9d1;
}

.palette-color-purple.dark {
    --background: #131318;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #313036;

    --inverse_primary: #5a5891;

    --inverse_surface: #e5e1e9;

    --on_background: #e5e1e9;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #2b2a60;

    --on_primary_container: #e2dfff;

    --on_primary_fixed: #16134a;

    --on_primary_fixed_variant: #424078;

    --on_secondary: #2f2e42;

    --on_secondary_container: #e3e0f9;

    --on_secondary_fixed: #1a1a2c;

    --on_secondary_fixed_variant: #464559;

    --on_surface: #e5e1e9;

    --on_surface_variant: #c8c5d0;

    --on_tertiary: #472639;

    --on_tertiary_container: #ffd8ea;

    --on_tertiary_fixed: #2f1123;

    --on_tertiary_fixed_variant: #603c50;

    --outline: #928f9a;

    --outline_variant: #47464f;

    --primary: #c3c0ff;

    --primary_container: #424078;

    --primary_fixed: #e2dfff;

    --primary_fixed_dim: #c3c0ff;

    --scrim: #000000;

    --secondary: #c7c4dd;

    --secondary_container: #464559;

    --secondary_fixed: #e3e0f9;

    --secondary_fixed_dim: #c7c4dd;

    --shadow: #000000;

    --source_color: #3b3a5a;

    --surface: #131318;

    --surface_bright: #39383f;

    --surface_container: #201f25;

    --surface_container_high: #2a292f;

    --surface_container_highest: #35343a;

    --surface_container_low: #1b1b21;

    --surface_container_lowest: #0e0e13;

    --surface_dim: #131318;

    --surface_tint: #c3c0ff;

    --surface_variant: #47464f;

    --tertiary: #eab9d1;

    --tertiary_container: #603c50;

    --tertiary_fixed: #ffd8ea;

    --tertiary_fixed_dim: #eab9d1;
}


* {
    box-sizing: border-box;

    font-family: "Inter", "Noto Sans JP", "Font Awesome 7 Free", sans-serif;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: auto;
}

html {
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

::selection {
    background-color: var(--primary);
    color: var(--on_primary);
}

body {
    background-color: var(--surface);
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.section-menu,
.language-selector-container {
    z-index: 9997;
}

.tooltip,
.toolbox {
    z-index: 9998;
}

@keyframes click {
    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.clicked {
    animation: click 100ms;
}

.tooltip-parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    height: auto;
    width: auto;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 20px;
    
    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;

    position: absolute;

    pointer-events: none;

    padding: 0 10px;

    min-height: 40px;
    width: auto;

    transform: scale(0);

    transition: transform 200ms ease;
}

.tooltip-parent:hover .tooltip {
    transform: scale(1);
}

.tooltip-top {
    bottom: calc(100% + 10px);

    transform-origin: bottom center;
}

.tooltip-right {
    left: calc(100% + 10px);

    transform-origin: left center;
}

.tooltip-bottom {
    top: calc(100% + 10px);

    transform-origin: top center;
}

.tooltip-left {
    right: calc(100% + 10px);

    transform-origin: right center;
}

.toolbox {
    display: flex;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(50px / 2);

    position: fixed;
    bottom: 10px;
    left: 10px;

    padding: 5px;

    height: 50px;
    width: auto;
}

.toolbox-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;

    cursor: pointer;

    height: 100%;
    aspect-ratio: 1/1;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.toolbox-button:hover,
.toolbox-checkbox:checked + .tooltip-parent .toolbox-button:hover {
    background-color: var(--surface_dim);
    
    color: var(--on_surface);
}

html.dark .toolbox-button:hover,
html.dark .toolbox-checkbox:checked + .tooltip-parent .toolbox-button:hover {
    background-color: var(--surface_bright);
}

.toolbox-checkbox:checked + .tooltip-parent .toolbox-button {
    background-color: var(--surface_container_high);
}

.toolbox-button i {
    position: absolute;

    transition: 
        transform 200ms ease;
}

.toolbox-button i:nth-of-type(1) {
    transform: scale(1);
}

.toolbox-button i:nth-of-type(2) {
    transform: scale(0);
}

.toolbox-checkbox:checked + .tooltip-parent .toolbox-button i:nth-of-type(1) {
    transform: scale(0);
}

.toolbox-checkbox:checked + .tooltip-parent .toolbox-button i:nth-of-type(2) {
    transform: scale(1);
}

.theme-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--surface_container);
    border-radius: 20px;

    position: fixed;
    bottom: calc(10px + 50px + 10px);
    left: 10px;

    padding: 10px;

    height: auto;
    max-height: calc(100dvh - 10px - 50px - 10px - 10px);
    width: 300px;

    transform: scale(0);
    transform-origin: bottom left;

    transition: transform 200ms ease;
}

#theme-menu-toggle:checked ~ .theme-menu {
    transform: scale(1);
}

.theme-menu-toggle-label-inside {
    display: flex;
    align-items: center;
    gap: 5px;
    
    background-color: var(--surface_container_high);
    border-radius: calc(40px / 2);

    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    padding: 5px;

    height: 40px;
    width: fit-content;
    flex: 0 0 auto;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.theme-menu-toggle-label-inside:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .theme-menu-toggle-label-inside:hover {
    background-color: var(--surface_bright);
}

.theme-menu-toggle-label-inside-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;
    
    height: 100%;
    aspect-ratio: 1/1;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.theme-menu-toggle-label-inside:hover .theme-menu-toggle-label-inside-icon {
    background-color: var(--primary);

    color: var(--on_primary);
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: calc((10px * 2) + 30px);

    cursor: pointer;
    user-select: none;

    padding: 10px;

    height: auto;
    width: 100%;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.theme-toggle-container:hover {
    background-color: var(--surface_dim);
}

html.dark .theme-toggle-container:hover {
    background-color: var(--surface_bright);
}

.theme-toggle-container-title {
    color: var(--on_surface);
    font-size: 1.1rem;
}

.theme-toggle-switch-container {
    background-color: var(--surface_container_highest);
    border-radius: calc(30px / 2);

    padding: 5px;

    height: 30px;
    width: calc((30px * 2) - (5px * 2));

    transition: background 200ms ease;
}

.theme-toggle-switch {
    background-color: var(--primary);
    border-radius: 100%;

    height: 100%;
    aspect-ratio: 1/1;

    transition:
        background 200ms ease,
        transform 200ms ease;
}

#theme-toggle:checked + .theme-toggle-container .theme-toggle-switch-container {
    background-color: var(--primary);
}

#theme-toggle:checked + .theme-toggle-container .theme-toggle-switch-container .theme-toggle-switch {
    background-color: var(--on_primary);

    transform: translateX(100%);
}

.palette-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.palette-color-label {
    background-color: var(--surface_container_high);
    border-radius: calc(50px / 2);

    cursor: pointer;

    overflow: hidden;

    height: auto;
    width: 100%;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.palette-color-label:hover {
    background-color: var(--surface_dim);
}

html.dark .palette-color-label:hover {
    background-color: var(--surface_bright);
}

.palette-radio:checked + .palette-color-label:hover {
    background-color: var(--surface_container_high);

    cursor: default;
}

.palette-color-label-shade-container {
    display: flex;

    height: 80px;
    width: 100%;
}

.palette-color-label-shade {
    height: 100%;
    width: 100%;
}

.palette-color-label-shade:nth-child(1) {
    background-color: var(--primary);
}

.palette-color-label-shade:nth-child(2) {
    background-color: var(--inverse_primary);
}
.palette-color-label-shade:nth-child(3) {
    background-color: var(--primary_container);
}
.palette-color-label-shade:nth-child(4) {
    background-color: var(--on_primary);
}
.palette-color-label-shade:nth-child(5) {
    background-color: var(--surface);
}

.palette-color-label-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    height: auto;
    width: 100%;
}

.palette-color-label-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.palette-color-label-check {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;

    color: var(--on_primary);
    font-size: 1rem;

    height: 30px;
    aspect-ratio: 1/1;

    transition: background 200ms ease;
}

.palette-radio:checked + .palette-color-label .palette-color-label-check {
    background-color: var(--primary);
}

.palette-color-label-check i {
    transform: scale(0);

    transition: transform 200ms ease;
}

.palette-radio:checked + .palette-color-label .palette-color-label-check i {
    transform: scale(1);
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--surface_container);
    border-radius: 20px;

    position: fixed;
    top: 50%;
    left: 50%;

    padding: 10px;

    height: auto;
    width: 400px;

    transform: translate(-50%, -50%) scale(0);

    transition: transform 200ms ease;
}

#search-toggle:checked ~ .search-container {
    transform: translate(-50%, -50%) scale(1);
}

.search {
    background-color: var(--surface_container_high);
    border-radius: calc(50px / 2);
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;

    padding: 0 10px;

    height: 50px;
    width: 100%;

    transition: background 200ms ease;
}

.search:hover,
.search-container:focus-within .search {
    background-color: var(--surface_dim);
}

html.dark .search:hover,
html.dark .search-container:focus-within .search {
    background-color: var(--surface_bright);
}

.search::placeholder {
    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: bold;
}

.search-result-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    width: 100%;
}

.search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: calc(40px / 2);

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    padding: 5px;

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.search-result:hover {
    background-color: var(--surface_dim);
}

html.dark .search-result:hover {
    background-color: var(--surface_bright);
}

.search-result-info {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--on_surface);
    font-weight: bold;

    height: 100%;
    width: auto;
}

.search-result-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 100%;

    color: var(--on_primary);

    height: 100%;
    aspect-ratio: 1/1;
}

.section-menu {
    display: flex;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(60px / 2);

    position: fixed;
    bottom: 10px;
    left: 50%;

    padding: 5px;

    height: 60px;
    width: auto;

    transform: translateX(-50%);
}

.section-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    height: 100%;
    aspect-ratio: 1/1;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.section-menu-button:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark .section-menu-button:hover{
    background-color: var(--surface_bright);
}

.section-menu-button.section-indicator-current,
html.dark .section-menu-button.section-indicator-current {
    background-color: var(--primary_container);

    color: var(--on_primary_container);
}

.language-selector-container {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: var(--surface_container);
    border-radius: calc(50px / 2);

    position: fixed;
    right: 10px;
    bottom: 10px;

    padding: 5px;

    height: 50px;
    width: auto;
}

.language-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 100%;

    color: var(--on_primary);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

#language-selector {
    background-color: transparent;
    border-radius: calc((50px - (5px * 2)) / 2);
    border: none;
    outline: none;

    color: var(--on_surface_variant);
    font-size: 1rem;
    font-weight: normal;

    cursor: pointer;

    padding: 0 5px;

    height: 100%;
    width: fit-content;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

#language-selector:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

html.dark #language-selector:hover {
    background-color: var(--surface_bright);
}

.go-to-top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container);
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;
    text-decoration: none;

    cursor: pointer;

    position: fixed;
    right: 10px;
    bottom: calc(10px + 50px + 10px);

    height: 50px;
    aspect-ratio: 1/1;

    transform: scale(0);
    transform-origin: bottom center;

    transition: 
        background 200ms ease,
        color 200ms ease,
        transform 200ms ease;
}

.go-to-top:hover {
    background-color: var(--surface_dim);

    color: var(--on_surface);
}

.go-to-top.scrolling-up {
    transform: scale(1);
}

html.dark .go-to-top:hover {
    background-color: var(--surface_bright);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    padding: 100px 20px;

    height: auto;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--primary);

    height: 500px;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 600px) {
    .toolbox {
        top: 10px;
        bottom: auto;
    }

    .theme-menu {
        top: calc(10px + 50px + 10px);
        right: 10px;
        bottom: auto;
        
        max-height: calc(100dvh - 10px - 50px - 10px - 60px - 10px - 10px);
        width: auto;

        transform-origin: top left;
    }

    .search-container {
        top: calc(10px + 50px + 10px);
        right: 10px;
        left: 10px;

        width: auto;

        transform: scale(0);
        transform-origin: top left;
    }

    #search-toggle:checked ~ .search-container {
        transform: scale(1);
    }

    .language-selector-container {
        top: 10px;
        bottom: auto;
    }

    .go-to-top {
        bottom: 200px;
    }

    main {
        padding: calc(10px + 50px + 20px) 20px calc(20px + 60px + 10px) 20px;
    }
}
