:root {
    --background: #ffffff;

    --surface: #eeeeee;
    --surface-translucent: rgba(221, 221, 221, 0.5);

    --surface2: #dddddd;
    --surface2-translucent: rgba(187, 187, 187, 0.5);

    --surface3: #cccccc;
    --surface3-translucent: rgba(187, 187, 187, 0.5);

    --highlight: #bbbbbb;

    --hover: #aaaaaa;

    --accent: #3584e4;

    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow: 0 4px 4px -2px var(--shadow-color);

    --text: #000000;
}

.dark {
    --background: #000000;

    --surface: #111111;
    --surface-translucent: rgba(221, 221, 221, 0.5);

    --surface2: #222222;
    --surface2-translucent: rgba(187, 187, 187, 0.5);

    --surface3: #333333;
    --surface3-translucent: rgba(187, 187, 187, 0.5);

    --highlight: #444444;

    --hover: #555555;

    --accent: #3584e4;

    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow: 0 4px 4px -2px var(--shadow-color);

    --text: #ffffff;
}

* {
    box-sizing: border-box;

    color: var(--text);

    margin: 0;
    padding: 0;

    transition: all 300ms ease;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: var(--background);
}

::selection {
    background-color: var(--text);
    color: var(--background);
}

.box-title {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--highlight);

    font-size: 1rem;
    font-weight: bold;
    text-align: center;

    height: 25px;
    width: 100%;
}

#menu-toggle {
    display: none;
}

.label-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 10px;

    cursor: pointer;

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;

    height: 50px;
    aspect-ratio: 1/1;
}

#menu-toggle:checked + .label-menu-toggle {
    background-color: var(--surface2);
    box-shadow: none;
}

.label-menu-toggle:hover {
    background-color: var(--hover) !important;
    box-shadow: none;
}

.label-menu-toggle i {
    font-size: 1rem;
    position: absolute
}

.menu-closed-icon {
    opacity: 1;
    transform: scale(1);
}

.menu-opened-icon {
    opacity: 0;
    transform: translateX(-100%);
}

#menu-toggle:checked + .label-menu-toggle .menu-closed-icon {
    opacity: 0;
    transform: scale(0);
}

#menu-toggle:checked + .label-menu-toggle .menu-opened-icon {
    opacity: 1;
    transform: translateX(0);
}

.menu {
    background-color: var(--surface);
    backdrop-filter: blur(8px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    padding: calc(20px + 50px + 20px) 20px 20px 20px;

    overflow-y: auto;
    transform: translateX(-100%);

    height: 100vh;
    width: 250px;
}

#menu-toggle:checked ~ .menu {
    transform: translateX(0);
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: auto;
    width: 100%;
}

.menu-box {
    background-color: var(--surface2);
    border-radius: 10px;

    overflow: hidden;

    height: auto;
    width: 100%;
}

.menu-box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    height: auto;
    width: 100%;
}

.shortcut {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface3);
    border-radius: 10px;

    text-decoration: none;

    overflow: hidden;

    height: 50px;
    width: 100%;
}

.shortcut:hover {
    background-color: var(--hover);
}

.shortcut-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--highlight);

    height: 100%;
    aspect-ratio: 1/1;
}

.shortcut:hover .shortcut-icon {
    background-color: var(--hover);
}

.shortcut-icon i {
    font-size: 1rem;
}

.shortcut h2 {
    font-size: 1rem;
    font-weight: normal;
}

#theme-selector {
    flex-direction: row;
}

#brightness-toggle {
    display: none;
}

.label-brightness-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface3);
    border-radius: 10px;

    cursor: pointer;

    height: 50px;
    aspect-ratio: 1/1;
}

.label-brightness-toggle:hover {
    background-color: var(--hover);
}

.label-brightness-toggle i {
    position: absolute;
    font-size: 1rem;
}

.brightness-bright-icon {
    opacity: 1;
    transform: scale(1);
}

.brightness-dark-icon {
    opacity: 0;
    transform: scale(0);
}

#brightness-toggle:checked + .label-brightness-toggle .brightness-bright-icon {
    opacity: 0;
    transform: scale(0);
}

#brightness-toggle:checked + .label-brightness-toggle .brightness-dark-icon {
    opacity: 1;
    transform: scale(1);
}

#palette-selector {
    background-color: var(--surface3);
    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-size: 1rem;

    padding: 0 10px;

    height: 50px;
    width: 100%;
}

#palette-selector:hover {
    background-color: var(--hover);
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface3);
    border-radius: 10px;

    text-decoration: none;

    overflow: hidden;

    height: 50px;
    width: 100%;
}

.social:hover {
    background-color: var(--hover);
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--highlight);

    height: 100%;
    aspect-ratio: 1/1;
}

.social:hover .social-icon {
    background-color: var(--hover);
}

.social-icon i {
    font-size: 1rem;
}

.social h2 {
    font-size: 1rem;
    font-weight: normal;
}

@media (max-width: 450px) {
    .menu {
        width: 100%;
    }
}
