/* Colors */
:root {
    /* Colors */
    --blue: #0088ff;
    --brown: #ac7f5e;
    --cyan: #00c0e8;
    --green: #34c759;
    --indigo: #6155f5;
    --mint: #00c8b3;
    --orange: #ff8d28;
    --pink: #ff2d55;
    --purple: #cb30e0;
    --red: #ff383c;
    --teal: #00c3d0;
    --yellow: #ffcc00;

    /* Elements */
    --background: #ffffff;
    --background-translucent: rgba(255, 255, 255, 0.5);

    --background-inverse: #000000;
    --background-inverse-translucent: rgba(0, 0, 0, 0.5);

    --hover: #c7c7cc;

    --shadow: rgba(0, 0, 0, 0.5);

    --surface: #f2f2f7;
    --surface-translucent: rgba(242, 242, 247, 0.5);
    --surface2: #e5e5ea;
    --surface2-translucent: rgba(229, 229, 234, 0.5);
    --surface3: #d1d1d6;
    --surface3-translucent: rgba(209, 209, 214, 0.5);

    --text: #000000;
    --text-inverse: #ffffff;
}

body.dark {
    /* Colors */
    --blue: #0091ff;
    --brown: #b78a66;
    --cyan: #3cd3fe;
    --green: #30d158;
    --indigo: #6b5dff;
    --mint: #00dac3;
    --orange: #ff9230;
    --pink: #ff375f;
    --purple: #db34f2;
    --red: #ff4245;
    --teal: #00d2e0;
    --yellow: #ffd600;

    /* Elements */
    --background: #000000;
    --background-translucent: rgba(0, 0, 0, 0.5);

    --background-inverse: #ffffff;
    --background-inverse-translucent: rgba(255, 255, 255, 0.5);

    --hover: #48484a;

    --shadow: rgba(255, 255, 255, 0);

    --surface: #1c1c1e;
    --surface-translucent: rgba(28, 28, 30, 0.5);
    --surface2: #2c2c2e;
    --surface2-translucent: rgba(44, 44, 46, 0.5);
    --surface3: #3a3a3c;
    --surface3-translucent: rgba(58, 58, 60, 0.5);

    --text: #ffffff;
    --text-inverse: #000000;
}

body.catppuccin {
    /* Catppuccin Latte */

    /* Colors */
    --blue: #1e66f5;   /* Blue */
    --brown: #dc8a78;  /* Rosewater */
    --cyan: #04a5e5;   /* Sky */
    --green: #40a02b;  /* Green */
    --indigo: #7287fd; /* Lavender */
    --mint: #179299;   /* Teal */
    --orange: #fe640b; /* Peach */
    --pink: #ea76cb;   /* Pink */
    --purple: #8839ef; /* Mauve */
    --red: #d20f39;    /* Red */
    --teal: #209fb5;   /* Sapphire */
    --yellow: #df8e1d; /* Yellow */

    /* Elements */
    --background: #dce0e8; /* Crust */
    --background-translucent: rgba(220, 224, 232, 0.5);

    --background-inverse: #11111b; /* Crust from Mocha */
    --background-inverse-translucent: rgba(17, 17, 27, 0.5);

    --hover: #acb0be; /* Surface 2 */

    --shadow: #7c7f93; /* Overlay 2 */

    --surface: #e6e9ef; /* Mantle */
    --surface-translucent: rgba(230, 233, 239, 0.5);
    --surface2: #eff1f5; /* Base */
    --surface2-translucent: rgba(239, 241, 245, 0.5);
    --surface3: #ccd0da; /* Surface 0 */
    --surface3-translucent: rgba(204, 208, 218, 0.5);

    --text: #4c4f69; /* Text */
    --text-inverse: #cdd6f4; /* Text from Mocha */
}

body.catppuccin.dark {
    /* Catppuccin Mocha */

    /* Colors */
    --blue: #89b4fa;   /* Blue */
    --brown: #f5e0dc;  /* Rosewater */
    --cyan: #89dceb;   /* Sky */
    --green: #a6e3a1;  /* Green */
    --indigo: #b4befe; /* Lavender */
    --mint: #94e2d5;   /* Teal */
    --orange: #fab387; /* Peach */
    --pink: #f5c2e7;   /* Pink */
    --purple: #cba6f7; /* Mauve */
    --red: #f38ba8;    /* Red */
    --teal: #74c7ec;   /* Sapphire */
    --yellow: #f9e2af; /* Yellow */

    /* Elements */
    --background: #11111b; /* Crust */
    --background-translucent: rgba(17, 17, 27, 0.5);

    --background-inverse: #dce0e8; /* Crust from Latte */
    --background-inverse-translucent: rgba(220, 224, 232, 0.5);

    --hover: #585b70; /* Surface 2 */

    --shadow: rgba(147, 153, 178, 0); /* Overlay 2 */

    --surface: #181825; /* Mantle */
    --surface-translucent: rgba(24, 24, 37, 0.5);
    --surface2: #1e1e2e; /* Base */
    --surface2-translucent: rgba(30, 30, 46, 0.5);
    --surface3: #313244; /* Surface 0 */
    --surface3-translucent: rgba(49, 50, 68, 0.5);

    --text: #cdd6f4; /* Text */
    --text-inverse: #4c4f69; /* Text from Latte */
}

* {
    box-sizing: border-box;

    color: var(--text);

    margin: 0;
    padding: 0;

    transition: all 300ms ease;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: var(--background);
}

#theme-selector-toggle {
    display: none;
}

/* Theme Selector Switch */
.label-theme-selector-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 25px;
    cursor: pointer;

    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;

    height: 50px;
    width: 50px;
}

.label-theme-selector-toggle:hover {
    background-color: var(--hover);
}

.label-theme-selector-toggle:hover i {
    color: var(--brown);
}

#theme-selector-toggle:checked + .label-theme-selector-toggle {
    border-radius: 25px 0px 25px 0px;
}

#theme-selector-toggle:checked + .label-theme-selector-toggle:hover i {
    color: var(--red);
}

.label-theme-selector-toggle i {
    position: absolute;
}

.label-theme-selector-toggle-icon-closed {
    opacity: 1;
    transform: rotate(0deg);
}

.label-theme-selector-toggle-icon-opened {
    opacity: 0;
    transform: rotate(90deg);
}

#theme-selector-toggle:checked + .label-theme-selector-toggle .label-theme-selector-toggle-icon-closed {
    opacity: 0;
    transform: rotate(-90deg);
}

#theme-selector-toggle:checked + .label-theme-selector-toggle .label-theme-selector-toggle-icon-opened {
    opacity: 1;
    transform: rotate(0deg);
}

/* Theme Selector */
.theme-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--surface2);
    border-radius: 25px;

    overflow: hidden;

    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 2;

    padding: 10px;

    height: 50px;
    width: 50px;
}

#theme-selector-toggle:checked ~ .theme-selector {
    box-shadow: 0 4px 8px -4px var(--shadow);

    height: 110px;
    width: 150px; 
}

.theme-selector-top-bar {
    padding-left: 50px;
    
    height: 50px;
    width: 100%;
}

#brightness-toggle {
    display: none;
}

.label-brightness-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface3);
    border-radius: 25px;
    box-shadow: 0 4px 8px -4px var(--shadow);
    cursor: pointer;

    height: 100%;
    width: 100%;
}

.label-brightness-toggle:hover {
    background-color: var(--hover);
}

.label-brightness-toggle i {
    position: absolute;
}

.label-brightness-toggle-icon-bright {
    color: var(--yellow);
    text-shadow: 0 0 8px var(--shadow);

    opacity: 1;
    transform: rotate(0deg);
}

.label-brightness-toggle-icon-dark {
    color: var(--indigo);
    text-shadow: 0 0 8px var(--shadow);

    opacity: 0;
    transform: rotate(90deg);
}

#brightness-toggle:checked + .label-brightness-toggle .label-brightness-toggle-icon-bright {
    opacity: 0;
    transform: rotate(-90deg);
}

#brightness-toggle:checked + .label-brightness-toggle .label-brightness-toggle-icon-dark {
    opacity: 1;
    transform: rotate(0deg);
}

.theme-selector-bottom-bar {
    height: 50px;
    width: 100%;
}

#palette-select {
    background-color: var(--surface3);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px -4px var(--shadow);
    cursor: pointer;

    padding: 0 5px;

    height: 100%;
    width: 100%;
}

#palette-select:hover {
    background-color: var(--hover);
}

#settings-toggle {
    display: none;
}

/* Settings Switch */
.label-settings-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 25px;
    cursor: pointer;

    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 3;

    height: 50px;
    width: 50px;
}

.label-settings-toggle:hover {
    background-color: var(--hover);
}

.label-settings-toggle:hover i {
    color: var(--blue);
}

#settings-toggle:checked + .label-settings-toggle {
    border-radius: 0 25px 0 25px;
}

#settings-toggle:checked + .label-settings-toggle:hover i {
    color: var(--red);
}

.label-settings-toggle i {
    position: absolute;
}

.label-settings-toggle-icon-closed {
    opacity: 1;
    transform: rotate(0deg);
}

.label-settings-toggle-icon-opened {
    opacity: 0;
    transform: rotate(90deg);
}

#settings-toggle:checked + .label-settings-toggle .label-settings-toggle-icon-closed {
    opacity: 0;
    transform: rotate(-90deg);
}

#settings-toggle:checked + .label-settings-toggle .label-settings-toggle-icon-opened {
    opacity: 1;
    transform: rotate(0deg);
}

/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--surface2);
    border-radius: 25px;

    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 2;

    user-select: none;
    overflow: hidden;

    height: 50px;
    width: 50px;
}

#settings-toggle:checked ~ .settings {
    box-shadow: 0 4px 8px -4px var(--shadow);

    padding: 10px 10px calc(50px + 10px) 10px;

    height: 150px;
    width: 200px;
}

.settings-option {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface3);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 12.5px;
    cursor: pointer;

    padding: 0 10px;

    min-height: 35px;
    height: 35px;
    width: 100%;
}

.settings-option:hover {
    background-color: var(--hover);
}

.settings-option-title {
    font-weight: bold;
}

.settings-option-check {
    display: none;
}

.settings-option-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 12.5px;

    cursor: pointer;

    height: 25px;
    width: 25px;
}

.settings-option-checkbox i {
    opacity: 0;
}

#top-navbar:checked ~ .settings label[for="top-navbar"] .settings-option-checkbox,
#fullscreen:checked ~ .settings label[for="fullscreen"] .settings-option-checkbox {
    background-color: var(--blue);
}

#top-navbar:checked ~ .settings label[for="top-navbar"] .settings-option-checkbox i,
#fullscreen:checked ~ .settings label[for="fullscreen"] .settings-option-checkbox i {
    opacity: 1;
}

#navbar-toggle {
    display: none;
}

.label-navbar-toggle {
    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 25px;
    cursor: pointer;

    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 3;

    height: 50px;
    width: 50px;
}

.label-navbar-toggle i {
    position: absolute;
}

.label-navbar-toggle-icon-closed {
    opacity: 1;
    transform: rotate(0deg);
}

.label-navbar-toggle-icon-opened {
    opacity: 0;
    transform: rotate(-90deg);
}

#navbar-toggle:checked + .label-navbar-toggle .label-navbar-toggle-icon-closed {
    opacity: 0;
    transform: rotate(90deg);
}

#navbar-toggle:checked + .label-navbar-toggle .label-navbar-toggle-icon-opened {
    opacity: 1;
    transform: rotate(0deg);
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 25px;
    box-shadow: 4px 4px 8px -4px var(--shadow);
    
    position: fixed;
    top: calc(25px + 50px + 25px);
    left: 25px;

    height: calc(100% - (25px + 50px + 25px) - (25px + 50px + 25px));
    width: 50px;
}

#theme-selector-toggle:checked ~ .navbar {
    top: calc(25px + 110px + 25px);
    height: calc(100% - (25px + 110px + 25px) - (25px + 50px + 25px));
}

#settings-toggle:checked ~ .navbar {
    height: calc(100% - (25px + 50px + 25px) - (25px + 150px + 25px));
}

#theme-selector-toggle:checked ~ #settings-toggle:checked ~ .navbar {
    height: calc(100% - (25px + 110px + 25px) - (25px + 150px + 25px));
}

#top-navbar:checked ~ .navbar .navbar-content {
    display: flex;
}

.navbar-button {
    display: flex;
    align-items: center;

    border-radius: 25px 0 0 25px;
    cursor: pointer;
    text-decoration: none;

    position: relative;

    height: 50px;
    width: 50px;
}

.navbar-button:hover {
    background-color: var(--surface2);
    box-shadow: 0 4px 8px -4px var(--shadow);
    border-radius: 25px 0 0 25px;
}

.navbar-button i {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    min-width: 50px;
    width: 50px;
}

.navbar-button-content {
    display: flex;
    align-items: center;

    border-radius: 0 25px 25px 0;
    opacity: 0;

    font-weight: bold;

    position: absolute;
    top: 0;
    left: 50px;

    overflow: hidden;
    white-space: nowrap;

    padding-right: 15px;

    height: 100%;
    max-width: 0;
}

.navbar-button:hover .navbar-button-content {
    background-color: var(--surface2);
    opacity: 1;
    max-width: 1000px;
}

/* Content Area */
.main {
    background-color: var(--surface);
    box-shadow: 4px 4px 8px -4px var(--shadow);
    border-radius: 25px;

    overflow-y: auto;

    margin: 25px 25px 25px calc(25px + 50px + 25px);
    
    height: calc(100vh - 25px - 25px);
    width: calc(100% - (25px + 50px + 25px) - 25px);
}

#theme-selector-toggle:checked ~ .main {
    margin-left: calc(25px + 150px + 25px);
    width: calc(100% - (25px + 150px + 25px) - 25px);
}

#settings-toggle:checked ~ .main {
    margin-left: calc(25px + 200px + 25px);
    width: calc(100% - (25px + 200px + 25px) - 25px)
}

.item {
    display: none;

    background-image: url("https://github.com/DimitryGonzales/dotfiles/blob/main/.github/examples/gruvbox-dark/gruvbox-dark-1.png?raw=true");
    background-position: center;
    background-size: 100%;
    border-radius: 25px;

    position: relative;

    overflow: hidden;

    max-width: 500px;
    width: 100%;
    aspect-ratio: 16/9;
}


.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    opacity: 1;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 25px;

    height: 100%;
    width: 100%;
}

.item:hover .item-info{
    opacity: 0;
}

.item-info-title {
    background-color: var(--background-translucent);
    backdrop-filter: blur(8px);
    border-radius: 25px;

    font-size: 1.5rem;
    font-weight: bold;

    padding: 10px;

    width: fit-content;
}

.item-info-tools {
    display: flex;
    gap: 10px;

    background-color: var(--background-translucent);
    backdrop-filter: blur(8px);
    border-radius: 25px;

    font-size: 1.2rem;

    padding: 10px;

    width: fit-content;
}

.item-info-about {
    background-color: var(--background-translucent);
    backdrop-filter: blur(8px);
    border-radius: 25px;

    padding: 10px;

    width: fit-content;
}

.item-links {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-translucent);
    backdrop-filter: blur(8px);
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.item:hover .item-links {
    opacity: 1;
}

.item-links-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-translucent);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    text-decoration: none;

    height: 100px;
    width: 100px;
}

.item-links-button i {
    font-size: 2.5rem;
}

/* Fullscreen Settings */
#fullscreen:checked ~ .main {
    background-color: var(--background);
    border-radius: 0;

    margin: 0;

    height: 100vh;
    width: 100%;
}

#fullscreen:checked + #top-navbar:checked ~ .main {
    margin: 0 !important;

    height: 100vh !important;
    width: 100% !important;
}

/* Top Navbar Settings */
#top-navbar:checked ~ .label-settings-toggle {
    top: 25px;
    right: 25px;
    bottom: auto;
    left: auto;
}
#top-navbar:checked ~ .settings {
    top: 25px;
    right: 25px;
    bottom: auto;
    left: auto;
}
#top-navbar:checked ~ #settings-toggle:checked ~ .settings {
    padding-top: calc(50px + 10px);
}

#top-navbar:checked ~ .navbar {
    flex-direction: row;

    top: 25px;
    left: calc(25px + 50px + 25px);

    height: 50px;
    width: calc(100% - (25px + 50px + 25px) - (25px + 50px + 25px));
}

#top-navbar:checked ~ #theme-selector-toggle:checked ~ .navbar {
    left: calc(25px + 150px + 25px);
    width: calc(100% - (25px + 150px + 25px) - (25px + 50px + 25px));
}

#top-navbar:checked ~ #settings-toggle:checked ~ .navbar {
    width: calc(100% - (25px + 50px + 25px) - (25px + 200px + 25px));
}

#top-navbar:checked ~ #theme-selector-toggle:checked ~ #settings-toggle:checked ~.navbar {
    height: 50px;
    width: calc(100% - (25px + 150px + 25px) - (25px + 200px + 25px));
}

#top-navbar:checked ~ .navbar .navbar-button {
    border-radius: 25px;

    position: static;

    max-width: 50px;
    width: auto;
}

#top-navbar:checked ~ .navbar .navbar-button:hover {
    background-color: var(--surface2);
    border-radius: 25px;

    max-width: 1000px;
}

#top-navbar:checked ~ .navbar .navbar-button .navbar-button-content {
    border-radius: none;

    position: static;

    max-width: 1000px;
}

#top-navbar:checked ~ .main {
    margin: calc(25px + 50px + 25px) 25px 25px 25px;

    height: calc(100vh - (25px + 50px + 25px) - 25px);
    width: calc(100% - 25px - 25px);
}

#top-navbar:checked ~ #theme-selector-toggle:checked ~ .main {
    margin-top: calc(25px + 110px + 25px);
    height: calc(100vh - (25px + 110px + 25px) - 25px);
}

#top-navbar:checked ~ #settings-toggle:checked ~ .main {
    margin-top: calc(25px + 150px + 25px);
    height: calc(100vh - (25px + 150px + 25px) - 25px);
}

@media (max-width: 625px) {
    .label-settings-toggle {
        display: none;
    }

    .settings {
        display: none;
    }

    .navbar {
        width: calc(100% - (25px + 50px + 25px) - 25px) !important;
    }

    #top-navbar:checked ~ #theme-selector-toggle:checked ~ .navbar {
        width: calc(100% - (25px + 150px + 25px) - 25px) !important;
    }

    .navbar-button {
        overflow: hidden;

        max-width: 50px !important;
    }
}

@media (max-width: 400px) {
    .label-navbar-toggle {
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;

        background-color: var(--surface-translucent);
        backdrop-filter: blue(8px);
        border-radius: 0;

        position: fixed;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;

        height: 100vh !important;
        width: 100% !important;
    }

    #navbar-toggle:checked ~ .navbar {
        display: flex;
    }

    #top-navbar:checked ~ #theme-selector-toggle:checked ~ #navbar-toggle ~ .navbar {
        width: 100% !important;
    }

    .navbar-content {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-button {
        align-items: center;
        justify-content: center;
        
        background-color: var(--surface2);

        max-width: 1000px !important;
    }

    .navbar-button-content {
        opacity: 1;
    }
}
