:root {
    /* Light Colors */

    --background: #f6fafe;

    --error: #ba1a1a;

    --error_container: #ffdad6;

    --inverse_on_surface: #edf1f5;

    --inverse_primary: #8ecff2;

    --inverse_surface: #2c3134;

    --on_background: #171c1f;

    --on_error: #ffffff;

    --on_error_container: #410002;

    --on_primary: #ffffff;

    --on_primary_container: #001e2c;

    --on_primary_fixed: #001e2c;

    --on_primary_fixed_variant: #004d67;

    --on_secondary: #ffffff;

    --on_secondary_container: #091e28;

    --on_secondary_fixed: #091e28;

    --on_secondary_fixed_variant: #364954;

    --on_surface: #171c1f;

    --on_surface_variant: #40484d;

    --on_tertiary: #ffffff;

    --on_tertiary_container: #1c1736;

    --on_tertiary_fixed: #1c1736;

    --on_tertiary_fixed_variant: #484364;

    --outline: #71787d;

    --outline_variant: #c0c7cd;

    --primary: #196585;

    --primary_container: #c2e8ff;

    --primary_fixed: #c2e8ff;

    --primary_fixed_dim: #8ecff2;

    --scrim: #000000;

    --secondary: #4e616d;

    --secondary_container: #d1e5f3;

    --secondary_fixed: #d1e5f3;

    --secondary_fixed_dim: #b5c9d7;

    --shadow: #000000;

    --source_color: #1484ae;

    --surface: #f6fafe;

    --surface_bright: #f6fafe;

    --surface_container: #eaeef2;

    --surface_container_high: #e5e9ed;

    --surface_container_highest: #dfe3e7;

    --surface_container_low: #f0f4f8;

    --surface_container_lowest: #ffffff;

    --surface_dim: #d6dade;

    --surface_tint: #196585;

    --surface_variant: #dce3e9;

    --tertiary: #5f5a7d;

    --tertiary_container: #e5deff;

    --tertiary_fixed: #e5deff;

    --tertiary_fixed_dim: #c9c1ea;
}

html.dark {
    /* Dark Colors */

    --background: #0f1417;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2c3134;

    --inverse_primary: #196585;

    --inverse_surface: #dfe3e7;

    --on_background: #dfe3e7;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #003548;

    --on_primary_container: #c2e8ff;

    --on_primary_fixed: #001e2c;

    --on_primary_fixed_variant: #004d67;

    --on_secondary: #20333d;

    --on_secondary_container: #d1e5f3;

    --on_secondary_fixed: #091e28;

    --on_secondary_fixed_variant: #364954;

    --on_surface: #dfe3e7;

    --on_surface_variant: #c0c7cd;

    --on_tertiary: #312c4c;

    --on_tertiary_container: #e5deff;

    --on_tertiary_fixed: #1c1736;

    --on_tertiary_fixed_variant: #484364;

    --outline: #8a9297;

    --outline_variant: #40484d;

    --primary: #8ecff2;

    --primary_container: #004d67;

    --primary_fixed: #c2e8ff;

    --primary_fixed_dim: #8ecff2;

    --scrim: #000000;

    --secondary: #b5c9d7;

    --secondary_container: #364954;

    --secondary_fixed: #d1e5f3;

    --secondary_fixed_dim: #b5c9d7;

    --shadow: #000000;

    --source_color: #1484ae;

    --surface: #0f1417;

    --surface_bright: #353a3d;

    --surface_container: #1b2023;

    --surface_container_high: #262b2e;

    --surface_container_highest: #313539;

    --surface_container_low: #171c1f;

    --surface_container_lowest: #0a0f12;

    --surface_dim: #0f1417;

    --surface_tint: #8ecff2;

    --surface_variant: #40484d;

    --tertiary: #c9c1ea;

    --tertiary_container: #484364;

    --tertiary_fixed: #e5deff;

    --tertiary_fixed_dim: #c9c1ea;
}

* {
    box-sizing: border-box;

    font-family: "Inter", "Font Awesome 7 Free", sans-serif;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: auto;
}

html {
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: var(--surface);
}

::selection {
    background-color: var(--primary);
    color: var(--on_primary);
}

.navbar,
.menu {
    z-index: 9999;
}

#menu-toggle {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container);
    border-radius: 0 0 20px 20px;

    position: fixed;
    top: 0;
    left: 0;

    padding: 10px 20px;

    height: 70px;
    width: 100%;
}

.page-title {
    color: var(--on_surface);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-tool-container {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 100%;
    width: auto;
}

.label-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_high);
    border-radius: 100%;

    color: var(--on_surface);
    font-size: 1rem;

    cursor: pointer;

    height: 100%;
    aspect-ratio: 1/1;

    transition: 
        background 200ms ease,
        border-radius 200ms ease;
}

.label-menu-toggle:hover {
    background-color: var(--surface_dim);
    border-radius: 20px;
}

html.dark .label-menu-toggle:hover {
    background-color: var(--surface_bright);
    border-radius: 20px;
}

#menu-toggle:checked + .navbar .navbar-tool-container .label-menu-toggle {
    background-color: var(--surface_dim);
    border-radius: 15px;
}

html.dark #menu-toggle:checked + .navbar .navbar-tool-container .label-menu-toggle {
    background-color: var(--surface_bright);
    border-radius: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--surface_container);
    border-radius: 20px;

    position: fixed;
    top: calc(70px + 10px);
    right: 10px;

    padding: 20px;

    height: auto;
    max-height: calc(100% - 70px - (10px * 2));
    width: 300px;
    
    transform: scale(0);
    transform-origin: top right;

    transition: transform 200ms ease;
}

#menu-toggle:checked ~ .menu {
    transform: scale(1);
}

.label-menu-toggle-inner {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container_high);
    border-radius: 25px;

    cursor: pointer;

    padding: 10px;

    height: 50px;
    width: fit-content;
    flex: 0 0 auto;

    transition: background 200ms ease;
}

.label-menu-toggle-inner:hover {
    background-color: var(--surface_dim);
}

html.dark .label-menu-toggle-inner:hover {
    background-color: var(--surface_bright);
}

.label-menu-toggle-inner-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;
    
    height: 100%;
    aspect-ratio: 1/1;

    transition: background 200ms ease;
}

.label-menu-toggle-inner:hover .label-menu-toggle-inner-icon {
    background-color: var(--surface_dim);
}

html.dark .label-menu-toggle-inner:hover .label-menu-toggle-inner-icon {
    background-color: var(--surface_bright);
}

.menu-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.menu-section-container {
    border-radius: inherit;

    overflow-y: auto;

    height: auto;
    width: 100%;
}

.menu-section {
    background-color: var(--surface_container_high);
    border-radius: inherit;

    overflow: hidden;

    height: auto;
    width: 100%;
}

.menu-section-header {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container_highest);
    border-radius: inherit;

    padding: 10px;

    height: 50px;
    width: 100%;
}

.menu-section-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_dim);
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

html.dark .menu-section-icon {
    background-color: var(--surface_bright);
}

.menu-section-title {
    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;
}

.shortcut-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;

    height: auto;
    width: 100%;
}

.shortcut {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    background-color: var(--surface_container_highest);
    border-radius: 20px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    padding: 0 20px;
    
    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.shortcut:hover {
    background-color: var(--surface_dim);
}

.shortcut i {
    color: var(--on_surface_variant);
}

html.dark .shortcut:hover {
    background-color: var(--surface_bright);
}

.theme-toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: 25px;

    padding: 10px 20px;

    height: 50px;
    width: 100%;
    flex: 0 0 auto;
}

.theme-toggle-title {
    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;
}

#theme-toggle {
    display: none;
}

.label-theme-toggle {
    background-color: var(--surface_container_highest);
    border-radius: inherit;

    cursor: pointer;

    padding: 5px;
    
    height: 100%;
    aspect-ratio: 2/1;

    transition: background 200ms ease;
}

#theme-toggle:checked + .label-theme-toggle {
    background: var(--primary);
}

.theme-toggle-switch {
    background-color: var(--surface_dim);
    border-radius: inherit;

    height: 100%;
    width: calc(100% / 2);

    transition: transform 200ms ease;
}

html.dark .theme-toggle-switch {
    background-color: var(--surface_bright);
}

#theme-toggle:checked + .label-theme-toggle .theme-toggle-switch {
    transform: translateX(100%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    padding: calc(70px + 20px) 20px 100px 20px;

    height: auto;
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--surface_container);
    border-radius: 20px;

    padding: 20px;

    height: auto;
    width: 100%;
    max-width: 800px;
}

.main-section-header {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--surface_container_high);
    border-radius: 25px;

    padding: 10px;

    height: 50px;
    width: 100%;
}

.main-section-header-centered {
    justify-content: center;
}

.main-section-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_highest);
    border-radius: 100%;

    color: var(--on_surface_variant);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

.main-section-title {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
}

.main-section-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 0 20px;

    height: auto;
    width: 100%;
}

.main-section-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    height: auto;
    width: 100%;
}

.main-section-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 30px;

    color: var(--on_primary);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    padding: 0 20px;

    height: 60px;
    width: 100%;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.main-section-button-dividing {
    width: calc((100% - (10px * (2 - 1))) / 2);
}

.main-section-button:hover {
    background-color: var(--inverse_primary);
    color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: auto;
    width: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: auto;
    width: 100%;
}

.form-section label {
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: var(--on_surface);
    font-size: 1.1rem;
    font-weight: bold;

    height: auto;
    width: 100%;
}

.form-section input {
    background-color: var(--surface_container_high);
    border-radius: 20px;
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;

    padding: 0 20px;

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.form-section input:hover,
.form-section input:focus {
    background-color: var(--surface_dim);
}

html.dark .form-section input:hover,
html.dark .form-section input:focus {
    background-color: var(--surface_bright);
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--surface_container_high);
    border-radius: 20px;
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    padding: 0 20px;

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.add-button:hover {
    background-color: var(--surface_dim);
}

html.dark .add-button:hover {
    background-color: var(--surface_bright);
}

#members-container,
#resources-container,
#authors-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.remove-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_high);
    border-radius: 100%;
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    margin-top: 5px;

    height: 40px;
    aspect-ratio: 1/1;

    transition: background 200ms ease;
}

.remove-button:hover {
    background-color: var(--error);
    color: var(--on_error);
}

.form-section select {
    background-color: var(--surface_container_high);
    border-radius: 20px;
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;

    cursor: pointer;

    padding: 0 20px;

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.form-section select:hover {
    background-color: var(--surface_dim);
}

html.dark select:hover {
    background-color: var(--surface_bright);
}

.form-section textarea {
    background-color: var(--surface_container_high);
    border-radius: 20px;
    border: none;
    outline: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: normal;
    
    padding: 20px;

    height: 150px;
    width: 100%;
    resize: none;

    transition: background 200ms ease;
}

.form-section textarea:hover,
.form-section textarea:focus {
    background-color: var(--surface_dim);
}

html.dark .form-section textarea:hover,
html.dark .form-section textarea:focus {
    background-color: var(--surface_bright);
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    border-radius: 25px;
    border: none;
    outline: none;

    color: var(--on_primary);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    height: 50px;
    width: 100%;
    
    transition: 
        background 200ms ease,
        color 200ms ease;
}

.submit-button:hover {
    background-color: var(--inverse_primary);
    
    color: var(--primary);
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    background-color: var(--surface_container);

    padding: 50px;

    height: auto;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: auto;
    width: auto;
}

.footer-container-title {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-data-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    width: auto;
}

.footer-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background-color: var(--surface_container_high);
    border-radius: 20px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    padding: 0 20px;

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.footer-data:hover {
    background-color: var(--surface_dim);
}

html.dark .footer-data:hover {
    background-color: var(--surface_bright);
}

.footer-division {
    background-color: var(--outline);
    border-radius: 2px;
    border: none;

    height: 2px;
    width: 100%;
}

.footer-link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    height: auto;
    width: auto;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background-color: var(--surface_container_high);
    border-radius: 20px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    padding: 0 20px;

    height: 40px;
    width: auto;

    transition: background 200ms ease;
}

.footer-link:hover {
    background-color: var(--surface_bright);
}

@media (max-width: 840px) {
    .main-section-button-dividing {
        width: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        padding: 20px;
    }

    .footer-container,
    .footer-link-container,
    .footer-link {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .menu {
        left: 10px;

        width: auto;
    }

    main {
        gap: 20px;

        padding: calc(70px + 20px) 20px 20px 20px;
    }

    .slider {
        height: 150px;
    }

    .main-section-content {
        padding: 0px;
    }
}
