/* Palettes */

/* Default */
:root {
    /* Background */
    --background: #f3e7d1;

    /* Hover */
    --hover: #ccaa6c;

    /* Shadow */
    --shadow-color: #ccaa6c;
    --shadow: 0 3px 0px 0px var(--shadow-color);
    --shadow-text: 0 3px 0 var(--shadow-color);

    /* Surface */
    --surface: #fcd389;
    
    /* Text */
    --text: #3b2f25;
    --subtext: #7a6b5a;

    /* Top */
    --top: #ac7f5e;
}

/* Default Dark */
body.dark {
    /* Background */
    --background: #29231e;

    /* Hover */
    --hover: #816848;

    /* Shadow */
    --shadow-color: #816848;
    --shadow: 0 3px 0px 0px var(--shadow-color);
    --shadow-text: 1px 1px 0 var(--shadow-color);

    /* Surface */
    --surface: #a87f51;
    
    /* Text */
    --text: #f3e7d1;
    --subtext: #bda37f;

    /* Top */
    --top: #6b4631;
}

/* General */
* {
    box-sizing: border-box;

    color: var(--text);
    
    margin: 0;
    padding: 0;

    transition: all 300ms ease;

    scroll-behavior: smooth;

    scrollbar-color: var(--surface) transparent;
    scrollbar-width: auto;
}

/* Page */
html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

::selection {
    background-color: var(--surface);
}

/* Page Body */
body {
    background-color: var(--background);
}

#navbar-toggle {
    display: none;
}

.label-navbar-toggle {
    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 10px;
    box-shadow: var(--shadow);

    cursor: pointer;

    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;

    height: 50px;
    width: 50px;
}

.label-navbar-toggle:hover {
    background-color: var(--hover);
}

.label-navbar-toggle i {
    font-size: 1.1rem;
    position: absolute;
}

.label-navbar-toggle-icon-closed {
    opacity: 1;
    transform: scale(1);
}

.label-navbar-toggle-icon-open {
    opacity: 0;
    transform: scale(0);
}

#navbar-toggle:checked ~ .label-navbar-toggle .label-navbar-toggle-icon-closed {
    opacity: 0;
    transform: scale(0);
}

#navbar-toggle:checked ~ .label-navbar-toggle .label-navbar-toggle-icon-open {
    opacity: 1;
    transform: scale(1);
}

.navbar {
    display: flex;

    background-color: var(--top);

    position: fixed;
    top: 0;
    z-index: 2;

    user-select: none;

    padding: 12.5px;

    height: 70px;
    width: 100%;
}

.navbar-logo-box {
    display: flex;

    height: 100%;
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 10px;
    box-shadow: var(--shadow);

    font-size: 1.1rem;
    font-weight: bold;

    padding: 12.5px;

    height: 100%;
    width: fit-content;
}

.navbar-buttons-box {
    display: flex;
    justify-content: center;
    gap: 12.5px;

    height: 100%;
    width: 100%;
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.25px;

    background-color: var(--surface);
    border-radius: 10px;
    box-shadow: var(--shadow);

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    padding: 12.5px;

    height: 100%;
    width: 125px;
}

.navbar-button:hover {
    background-color: var(--hover);
}

#theme-switcher {
    display: none;
}

.theme-switcher-box {
    display: flex;
    justify-content: end;

    height: 100%;
    width: 100%;
}

.label-theme-switcher {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border-radius: 10px;
    box-shadow: var(--shadow);

    cursor: pointer;

    height: 100%;
    aspect-ratio: 1/1;
}

.label-theme-switcher:hover {
    background-color: var(--hover);
}

.label-theme-switcher i {
    font-size: 1.1rem;
    position: absolute;
}

.label-theme-switcher-icon-bright {
    opacity: 1;
    transform: rotate(0deg);
}

.label-theme-switcher-icon-dark {
    opacity: 0;
    transform: rotate(90deg);
}

#theme-switcher:checked + .theme-switcher-box .label-theme-switcher .label-theme-switcher-icon-bright {
    opacity: 0;
    transform: rotate(-90deg);
}

#theme-switcher:checked + .theme-switcher-box .label-theme-switcher .label-theme-switcher-icon-dark {
    opacity: 1;
    transform: rotate(0deg);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    
    padding: 100px 0;

    height: 100%;
    width: 100%;
}

.section-division {
    border: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 0 20%;

    height: auto;
    width: 100%;
}

.section-title {
    border-bottom: 3px solid var(--surface);

    font-size: 2rem;
    font-weight: bold;

    height: auto;
    width: 100%;
}

.section-text {
    text-align: justify;
    hyphens: auto;
    font-size: 1.25rem;
    font-weight: normal;

    height: auto;
    width: 100%;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: auto;
    width: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 50px;

    height: auto;
    width: auto;
}

.form-section label {
    display: flex;
    flex-direction: column;
    gap: 25px;

    font-size: 1.25rem;
    font-weight: bold;

    height: auto;
    width: 100%;
}

.form-section input {
    background-color: var(--surface);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
    outline: none;

    font-size: 1rem;
    text-align: center;

    height: 50px;
    width: 100%;
}

.form-section input:focus {
    background-color: var(--hover);
    outline: none;
}

.form-section select {
    background-color: var(--surface);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
    outline: none;

    cursor: pointer;

    font-size: 1rem;
    text-align: center;

    height: 50px;
    width: 100%;
}

.form-section select:focus {
    background-color: var(--hover);
    outline: none;
}

.form-section textarea {
    background-color: var(--surface);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
    outline: none;

    cursor: pointer;
    resize: none;

    font-size: 1rem;

    padding: 25px;

    height: 150px;
    width: 100%;
}

.form-section textarea:focus {
    background-color: var(--hover);
    outline: none;
}

#members-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#resources-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.remove-button {
    background-color: var(--surface);
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);

    cursor: pointer;

    height: 25px;
    width: 25px;
}

.remove-button:hover {
    background-color: var(--hover);
}

.add-button {
    background-color: var(--surface);
    border: none;
    border-radius: 10px;
    box-shadow: var(--shadow);

    font-size: 0.9rem;
    font-weight: bold;

    cursor: pointer;

    margin: 0 auto;

    height: 50px;
    width: 100px;
}

.add-button:hover {
    background-color: var(--hover);
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    border: none;
    border-radius: 25px;
    box-shadow: var(--shadow);

    cursor: pointer;

    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    height: 100px;
    width: 100%;
}

.submit-button:hover {
   background-color: var(--hover);
}

@media (max-width: 900px) {
    .navbar-logo {
        display: none;
    }

    .section {
        padding: 0 10%;
    }
}

@media (max-width: 550px) {
    .label-navbar-toggle {
        display: flex;
    }

    .navbar {
        align-items: center;
        justify-content: center;

        transform: translateY(-100vh);

        height: 100vh;
    }

    #navbar-toggle:checked ~ .navbar {
        transform: translateY(0);
    }

    .navbar-logo-box {
        display: none;
    }

    .navbar-buttons-box {
        flex-direction: column;

        height: auto;
        width: auto;
    }

    .navbar-button {
        height: 50px;
        width: 250px;
    }
    
    .theme-switcher-box {
        position: absolute;
        top: 25px;
        right: 25px;

        height: auto;
        width: auto;
    }

    .label-theme-switcher {
        height: 50px;
        width: 50px;
    }

    .main {
        padding-top: 100px;
    }

    .section {
        padding: 0 10%;
    }

    form {
        gap: 25px;
    }

    .form-section {
        flex-direction: column;
        gap: 25px;
    }
}
