:root {
    --background: #ffffff;

    --accent: #006896;
    --accent-gradient: linear-gradient(to right, #006896, #00b3ff);

    --title: #111111;
    --text: #222222;
    --subtext: #444444;

    --surface: rgba(175, 175, 175, 0.2);
    --surface_title: #222222;
    --surface_text: #333333;
    --surface_subtext: #555555;
    --surface_outline: #bbbbbb;

    --surface_container: rgba(125, 125, 125, 0.2);
    --surface_container_title: #333333;
    --surface_container_text: #444444;
    --surface_container_subtext: #666666;
    --surface_container_outline: #888888;
}

.dark {
    --background: #000000;

    --title: #ffffff;
    --text: #eeeeee;
    --subtext: #bbbbbb;

    --surface: rgba(100, 100, 100, 0.2);
    --surface_title: #eeeeee;
    --surface_text: #cccccc;
    --surface_subtext: #aaaaaa;
    --surface_outline: #333333;

    --surface_container: rgba(150, 150, 150, 0.2);
    --surface_container_title: #cccccc;
    --surface_container_text: #bbbbbb;
    --surface_container_subtext: #999999;
    --surface_container_outline: #666666;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    scrollbar-color: var(--title) transparent;
    scrollbar-width: auto;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    padding: 0 25px;

    height: 100px;
    width: 100%
}

html.dark .navbar {
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    max-width: 800px;
}

.navbar-shortcut-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.navbar-shortcut {
    color: var(--title);
    font-size: 1.1rem;
    font-weight: normal;
    text-decoration: none;

    position: relative;
}

.navbar-shortcut:hover {
    color: var(--accent);
}

.navbar-shortcut::before {
    content: "";

    background-color: var(--accent);

    position: absolute;
    bottom: -5px;

    height: 1px;
    width: 0%;

    transition: width 200ms ease;
}

.navbar-shortcut:hover::before {
    width: 100%;
}

.navbar-tool-container {
    display: flex;
    gap: 25px;
}

#theme-toggle {
    display: none;
}

label[for="theme-toggle"] {
    background-color: var(--surface);
    border-radius: 15px;

    cursor: pointer;

    user-select: none;
    
    height: 30px;
    width: 60px;

    transition: box-shadow 200ms ease;
}

label[for="theme-toggle"]:hover {
    box-shadow: 0 0 4px 4px var(--surface_outline) inset;
}

.theme-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container);
    border-radius: 100%;

    position: relative;

    height: 100%;
    aspect-ratio: 1/1;

    transition: transform 200ms ease;
}

#theme-toggle:checked + label[for="theme-toggle"] .theme-slide {
    transform: translateX(100%);
}

.theme-slide span {
    position: absolute;

    color: var(--title);
    font-size: 1rem;
    font-weight: normal;

    transition: 
        opacity 200ms ease,
        transform 200ms ease;
}

.bright-icon {
    opacity: 1;

    transform: rotate(0);
}

.dark-icon {
    opacity: 0;

    transform: rotate(-90deg);
}

#theme-toggle:checked + label[for="theme-toggle"] .bright-icon {
    opacity: 0;

    transform: rotate(90deg);
}

#theme-toggle:checked + label[for="theme-toggle"] .dark-icon {
    opacity: 1;

    transform: rotate(0deg);
}

main {
    height: 5000px;
    width: 100%;
}

.main-section {
    height: auto;
    width: 100%;
    max-width: 800px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
    
    position: relative;

    padding: 0 25px;

    height: 100dvh;
    width: 100%;

    transition: filter 500ms ease;
}

.hero::before {
    content: "";

    background-image: radial-gradient(
        circle at center,
        rgba(0, 104, 150, 0.5) 0%,
        var(--background) 50%
    );

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 500ms ease;
}

.hero::after {
    content: "";
    
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.3) 
        1px, 
        transparent 1px
    );
    background-size: 20px 20px;
    box-shadow: 0 0 256px 256px var(--background) inset;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 500ms ease;
}

html.dark .hero::after {
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 
        1px, 
        transparent 1px
    );
}

html.dark .hero::before,
html.dark .hero::after {
    opacity: 0;
}

html.dark .hero:hover::before,
html.dark .hero:hover::after {
    opacity: 1;
}

#hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    z-index: 2;

    transition: filter 500ms ease;
}

.hero-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    
    overflow: hidden;

    margin-bottom: 25px;

    height: 150px;
    aspect-ratio: 1/1;
}

.hero-image-container img {
    height: 100%;
    width: 100%;
}

.hero-title {
    color: var(--title);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.hero-title-name {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: none;

    position: relative;
}

.hero-title-name::before {
    content: "";

    background-image: var(--accent-gradient);

    position: absolute;
    bottom: 0;
    left: 0;

    height: 1px;
    width: 0%;

    transition: width 200ms ease;
}

.hero-title-name:hover::before {
    width: 100%;
}

.hero-subtitle {
    color: var(--subtext);
    font-size: 1.25rem;
    font-weight: normal;

    text-align: center;

    margin-bottom: 25px;
}

.hero-link-container {
    display: flex;
    gap: 10px;

    height: auto;
    width: auto;
}

.hero-link {
    position: relative;

    height: auto;
    width: auto;
}

.hero-link::before {
    content: "";

    background-color: var(--accent);

    position: absolute;
    bottom: -5px;
    left: 0;

    height: 1px;
    width: 0%;

    transition: width 200ms ease;
}

.hero-link:hover::before {
    width: 100%;;
}

.hero-link i {
    color: var(--title);
    font-size: 1.75rem;
    font-weight: normal;
    text-decoration: none;
}

.hero-link:hover i {
    color: var(--accent);
}

@keyframes bounce {
    0%, 100% {
        bottom: 25px;
    }

    50% {
        bottom: 35px;
    }
}

.hero-scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    backdrop-filter: blur(1px);
    border-radius: 100%;

    text-decoration: none;

    cursor: pointer;

    position: absolute;
    bottom: 25px;
    z-index: 2;

    height: 50px;
    aspect-ratio: 1/1;

    animation: bounce 1s infinite ease;
    transition: 
        box-shadow 200ms ease,
        filter 500ms ease;
}

.hero-scroll-down:hover {
    box-shadow: 0 0 4px 4px var(--surface_outline) inset;
}

.hero-scroll-down span {
    color: var(--title);
    font-size: 1.25rem;
}

.hero-scroll-down-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    backdrop-filter: blur(1px);
    border-radius: 10px;

    position: absolute;

    transform: translateY(-175%);

    padding: 0 15px;

    height: 30px;
    width: auto;

    transition: box-shadow 200ms ease;
}

.hero-scroll-down:hover .hero-scroll-down-tooltip {
    box-shadow: 0 0 4px 4px var(--surface_outline) inset;
}

.hero-scroll-down-tooltip span {
    color: var(--text);
    font-size: 1rem;
    font-weight: bold;

    white-space: nowrap;
}

html.dark #hero-content,
html.dark .hero-scroll-down {
    filter: brightness(0.25);
}

html.dark .hero:hover #hero-content,
html.dark .hero:hover .hero-scroll-down {
    filter: brightness(1);
}

.main-content {
    background-color: var(--background);
    background-image: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;

    box-shadow: 
        0 150px 256px -20px var(--background) inset,
        0 -150px 256px -20px var(--background) inset;

    height: 100%;
    width: 100%;
}

html.dark .main-content {
    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

@media (max-width:750px), (max-height: 650px) {
    .hero::after {
        box-shadow: 0 0 256px 96px var(--background) inset;
    }
}

@media (max-width: 500px) {
    .navbar-shortcut-container {
        gap: 15px;
    }

    html.dark .hero::before,
    html.dark .hero::after {
        opacity: 1;
    }

    .hero-title {
        font-size: 2rem;
        
    }

    html.dark #hero-content,
    html.dark .hero-scroll-down {
        filter: brightness(1);
    }
}

@media (max-width: 400px) {
    .navbar-shortcut-container {
        gap: 10px;
    }

    .navbar-shortcut {
        font-size: 1rem;
    }

    label[for="theme-toggle"] {
        width: 50px;
    }

    #theme-toggle:checked + label[for="theme-toggle"] .theme-slide {
        transform: translateX(calc(100% - 10px));
    }

    .hero-title {
        font-size: 1.75rem;
    }
}

@media (max-width: 350px) {
    .navbar-shortcut {
        font-size: 0.9rem;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }
}
