.palette-color-blue {
    --primary: #8ecff2;
    --primary_container: #004d67;
    --inverse_primary: #196585;
    --on_primary: #003548;
    --on_primary_container: #c2e8ff;

    --surface: #0f1417;
    --surface_bright: #353a3d;
    --surface_dim: #0f1417;
    --surface_container: #1b2023;
    --surface_container_high: #262b2e;
    --surface_container_highest: #313539;
    --on_surface: #dfe3e7;
    --on_surface_variant: #c0c7cd;

    --error: #ffb4ab;
    --error_container: #93000a;
    --on_error: #690005;
    --on_error_container: #ffdad6;

    --outline: #8a9297;
    --outline_variant: #40484d;
}

.palette-color-blue.palette-type-light {
    --primary: #196585;
    --primary_container: #c2e8ff;
    --inverse_primary: #8ecff2;
    --on_primary: #ffffff;
    --on_primary_container: #001e2c;

    --surface: #f6fafe;
    --surface_bright: #f6fafe;
    --surface_dim: #d6dade;
    --surface_container: #eaeef2;
    --surface_container_high: #e5e9ed;
    --surface_container_highest: #dfe3e7;
    --on_surface: #171c1f;
    --on_surface_variant: #40484d;

    --error: #ba1a1a;
    --error_container: #ffdad6;
    --on_error: #ffffff;
    --on_error_container: #410002;

    --outline: #71787d;
    --outline_variant: #c0c7cd;
}

.palette-color-pink {
    --primary: #dfb8f7;
    --primary_container: #593a6f;
    --inverse_primary: #725188;
    --on_primary: #412356;
    --on_primary_container: #f3daff;

    --surface: #161217;
    --surface_bright: #3c383e;
    --surface_dim: #161217;
    --surface_container: #221e24;
    --surface_container_high: #2d292e;
    --surface_container_highest: #383339;
    --on_surface: #e9e0e8;
    --on_surface_variant: #cdc3ce;

    --error: #ffb4ab;
    --error_container: #93000a;
    --on_error: #690005;
    --on_error_container: #ffdad6;

    --outline: #968e98;
    --outline_variant: #4b454d;
}

.palette-color-pink.palette-type-light {
    --primary: #725188;
    --primary_container: #f3daff;
    --inverse_primary: #dfb8f7;
    --on_primary: #ffffff;
    --on_primary_container: #2a0c40;

    --surface: #fff7fd;
    --surface_bright: #fff7fd;
    --surface_dim: #e0d7df;
    --surface_container: #f4ebf3;
    --surface_container_high: #eee6ed;
    --surface_container_highest: #e9e0e8;
    --on_surface: #1e1a20;
    --on_surface_variant: #4b454d;

    --error: #ba1a1a;
    --error_container: #ffdad6;
    --on_error: #ffffff;
    --on_error_container: #410002;
    
    --outline: #7c757e;
    --outline_variant: #cdc3ce;
}

.palette-color-purple {
    --primary: #c4c0ff;
    --primary_container: #434078;
    --inverse_primary: #5b5891;
    --on_primary: #2d2960;
    --on_primary_container: #e3dfff;

    --surface: #131318;
    --surface_bright: #3a383f;
    --surface_dim: #131318;
    --surface_container: #201f25;
    --surface_container_high: #2a292f;
    --surface_container_highest: #35343a;
    --on_surface: #e5e1e9;
    --on_surface_variant: #c8c5d0;

    --error: #ffb4ab;
    --error_container: #93000a;
    --on_error: #690005;
    --on_error_container: #ffdad6;

    --outline: #928f99;
    --outline_variant: #47464f;
}

.palette-color-purple.palette-type-light {
    --primary: #5b5891;
    --primary_container: #e3dfff;
    --inverse_primary: #c4c0ff;
    --on_primary: #ffffff;
    --on_primary_container: #17124a;

    --surface: #fcf8ff;
    --surface_bright: #fcf8ff;
    --surface_dim: #dcd8e0;
    --surface_container: #f0ecf4;
    --surface_container_high: #ebe7ef;
    --surface_container_highest: #e5e1e9;
    --on_surface: #1c1b20;
    --on_surface_variant: #47464f;

    --error: #ba1a1a;
    --error_container: #ffdad6;
    --on_error: #ffffff;
    --on_error_container: #410002;

    --outline: #787680;
    --outline_variant: #c8c5d0;
}

.palette-color-red {
    --primary: #ffb1c6;
    --primary_container: #703347;
    --inverse_primary: #8c4a5e;
    --on_primary: #551d30;
    --on_primary_container: #ffd9e1;

    --surface: #191113;
    --surface_bright: #413739;
    --surface_dim: #191113;
    --surface_container: #261d1f;
    --surface_container_high: #31282a;
    --surface_container_highest: #3c3234;
    --on_surface: #efdfe1;
    --on_surface_variant: #d6c2c5;

    --error: #ffb4ab;
    --error_container: #93000a;
    --on_error: #690005;
    --on_error_container: #ffdad6;

    --outline: #9e8c90;
    --outline_variant: #514346;
}

.palette-color-red.palette-type-light {
    --primary: #8c4a5e;
    --primary_container: #ffd9e1;
    --inverse_primary: #ffb1c6;
    --on_primary: #ffffff;
    --on_primary_container: #3a071c;

    --surface: #fff8f8;
    --surface_bright: #fff8f8;
    --surface_dim: #e6d6d9;
    --surface_container: #fbeaec;
    --surface_container_high: #f5e4e7;
    --surface_container_highest: #efdfe1;
    --on_surface: #22191b;
    --on_surface_variant: #514346;

    --error: #ba1a1a;
    --error_container: #ffdad6;
    --on_error: #ffffff;
    --on_error_container: #410002;
    
    --outline: #837376;
    --outline_variant: #d6c2c5;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
    scrollbar-width: auto;
}

html {
    font-family: "Inter", "Noto Sans JP", "Font Awesome 7 Free", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: var(--primary);

    color: var(--on_primary);
}

body {
    background-color: var(--surface)
}

#navbar,
.label-menu-toggle,
.menu,
.language-selector-container,
.palette-selector {
    z-index: 1000;
}

#menu-toggle {
    display: none;
}

#navbar {
    display: flex;

    background-color: var(--surface_container);

    position: fixed;
    top: 0;
    left: 0;

    padding: 25px;

    height: 100px;
    width: 100%;
}

.label-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface_container_high);
    border-radius: 15px;

    color: var(--on_surface);
    font-size: 1rem;

    cursor: pointer;
    
    height: 100%;
    aspect-ratio: 1/1;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.label-menu-toggle:hover,
#menu-toggle:checked + #navbar .label-menu-toggle {
    background-color: var(--primary);

    color: var(--on_primary);
}

#toggle-palette-selector {
    display: none;
}

.menu {
    background-color: var(--surface_container);
    border-radius: 15px;

    position: fixed;
    top: calc(100px + 15px);
    left: 25px;

    overflow: hidden;

    height: 0px;
    width: calc(50px + 15px + (50px + 125px));

    transition: height 200ms ease;
}

#menu-toggle:checked ~ .menu {
    height: calc((10px * 2) + (25px * (2 - 1)) + ((5px * (3 - 1)) + (40px * 3)) + 50px);
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 10px;

    height: auto;
    width: 100%;
}

.menu-button-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    height: auto;
    width: 100%;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--surface_container_high);
    border-radius: 10px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;

    padding: 0 10px;

    height: 40px;
    width: 100%;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.menu-button:hover {
    background-color: var(--primary);

    color: var(--on_primary);
}

.menu-button-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-selector-container {
    display: flex;

    border-radius: 10px;

    overflow: hidden;
    
    height: 50px;
    width: 100%;
}

.language-selector-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary);

    color: var(--on_primary);
    font-size: 1rem;

    height: 100%;
    aspect-ratio: 1/1;
}

#language-selector {
    background-color: var(--surface_container_high);
    border: none;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;
    
    padding: 0 10px;

    height: 100%;
    width: 100%;

    transition: background 200ms ease;
}

html.palette-type-dark #language-selector:hover {
    background-color: var(--surface_bright);
}

html.palette-type-light #language-selector:hover {
    background-color: var(--surface_dim);
}

.palette-selector {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: var(--surface_container);
    border-radius: 15px;

    position: fixed;
    top: calc(100px + 15px);
    left: 25px;

    padding: 25px 25px 0 25px;

    height: auto;
    max-height: calc(100% - (100px + 15px) - 25px);
    width: 350px;

    transform: translateX(calc(-100% - 25px));

    transition: transform 200ms ease;
}

#toggle-palette-selector:checked ~ .palette-selector {
    transform: translateX(0);
}

.label-inner-toggle-palette-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: var(--surface_container_high);
    border-radius: 10px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    height: 60px;
    width: 100%;
    flex: 0 0 auto;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

.label-inner-toggle-palette-selector:hover {
    background-color: var(--primary);

    color: var(--on_primary);
}

.palette-type-container {
    display: flex;
    gap: 5px;

    background-color: var(--surface_container_high);
    border-radius: 10px;

    padding: 10px;

    height: 70px;
    width: 100%;
    flex: 0 0 auto;
}

.palette-type-radio {
    display: none;
}

.palette-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: var(--surface_container_highest);
    border-radius: 10px;

    color: var(--on_surface);
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    min-height: 100%;
    width: 100%;

    transition: 
        background 200ms ease,
        color 200ms ease;
}

#palette-type-light:checked + #label-palette-type-light,
#palette-type-dark:checked + #label-palette-type-dark {
    background-color: var(--primary_container);
    box-shadow: 0 0 0 2px var(--primary) inset;

    color: var(--on_primary_container);
}

html.palette-type-dark .palette-type:hover {
    background-color: var(--surface_bright);
}

html.palette-type-light .palette-type:hover {
    background-color: var(--surface_dim);
}

.palette-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-x: hidden;
    overflow-y: scroll;

    padding-bottom: 25px;

    height: auto;
    width: 100%;    
}

.palette-radio {
    display: none;
}

.palette {
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--surface_container_high);
    border-radius: 10px;

    cursor: pointer;

    padding: 25px;

    height: auto;
    width: 100%;

    transition: background 200ms ease;
}

#palette-color-blue:checked ~ #label-palette-color-blue,
#palette-color-pink:checked ~ #label-palette-color-pink,
#palette-color-purple:checked ~ #label-palette-color-purple,
#palette-color-red:checked ~ #label-palette-color-red {
    background-color: var(--primary_container);
    box-shadow: 0 0 0 2px var(--primary) inset;
}

html.palette-type-dark .palette:hover {
    background-color: var(--surface_bright);
}

html.palette-type-light .palette:hover {
    background-color: var(--surface_dim);
}

.palette h1 {
    color: var(--on_surface);
    font-size: 1.25rem;
    font-weight: bold;
}

#palette-color-blue:checked ~ #label-palette-color-blue h1,
#palette-color-pink:checked ~ #label-palette-color-pink h1,
#palette-color-purple:checked ~ #label-palette-color-purple h1,
#palette-color-red:checked ~ #label-palette-color-red h1 {
    color: var(--on_primary_container);
}

.palette-shade-container {
    display: flex;
    gap: 10px;

    height: auto;
    width: 100%;
}

.palette-shade {
    display: flex;
    justify-content: center;

    border-radius: 10px;

    position: relative;

    width: calc((100% - (10px * (5 - 1))) / 5);
    aspect-ratio: 1/1;
}

.palette .palette-shade:nth-child(1) {
    background-color: var(--primary);
}

.palette .palette-shade:nth-child(2) {
    background-color: var(--inverse_primary);
}

.palette .palette-shade:nth-child(3) {
    background-color: var(--on_primary);
}

.palette .palette-shade:nth-child(4) {
    background-color: var(--surface);
}

.palette .palette-shade:nth-child(5) {
    background-color: var(--surface_container);
}

.palette-shade-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    opacity: 0;

    font-size: 1rem;
    font-weight: bold;

    pointer-events: none;

    position: absolute;
    bottom: calc(100% + 5px);

    padding: 0 10px;

    height: 30px;
    width: fit-content;

    transition: opacity 200ms ease;
}

.palette .palette-shade:nth-child(1) .palette-shade-tooltip {
    background-color: var(--primary);

    color: var(--on_primary);
}

.palette .palette-shade:nth-child(2) .palette-shade-tooltip {
    background-color: var(--inverse_primary);

    color: var(--on_primary_container);
}

.palette .palette-shade:nth-child(3) .palette-shade-tooltip{
    background-color: var(--on_primary);

    color: var(--primary);
}

.palette .palette-shade:nth-child(4) .palette-shade-tooltip {
    background-color: var(--surface);

    color: var(--on_surface);
}

.palette .palette-shade:nth-child(5) .palette-shade-tooltip {
    background-color: var(--surface_container);

    color: var(--on_surface_variant);
}

.palette-shade:hover .palette-shade-tooltip {
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: calc(100px + 50px) 25px 50px 25px;

    height: auto;
    width: 100%;
}

main section{
    display: flex;
    flex-direction: column;
    gap: 25px;

    height: auto;
    width: 100%;
    max-width: 800px;
}

.main-section-title-bar {
    display: flex;
    
    height: auto;
    width: 100%;
}

.main-section-title {
    color: var(--on_surface);
    font-size: 2rem;
    font-weight: bold;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: auto;
    width: 100%;
}

.project {
    background-color: var(--surface_container);
    border-radius: 15px;

    overflow: hidden;

    height: 100px;
    width: 100%;

    transition: 
        height 200ms ease;
}

.project:hover {
    height: calc(100px + (15px * 2) + 60px);
}

.project-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-position: center;
    background-size: cover;
    border-radius: 15px;

    text-decoration: none;

    position: relative;
    z-index: 0;

    overflow: hidden;

    padding: 25px;

    height: 100px;
    width: 100%;
}

#project1 .project-top {
    background-image: url(assets/projects/dotfiles.png);
}

#project2 .project-top {
    background-image: url(assets/projects/face-detection-analysis.png);
}

#project3 .project-top {
    background-image: url(assets/projects/website.png);
}

.project-top::before {
    content: "";

    background-color: var(--primary);
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    transition: opacity 200ms ease;
}

.project-top:hover::before {
    opacity: 1;
}

.project-top-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: fit-content;
}

.project-title {
    color: #eeeeee;
    font-size: 1.25rem;
    font-weight: bold;

    transition: color 200ms ease;
}

.project-top:hover .project-title {
    color: var(--on_primary);
}

.project-description {
    color: #bbbbbb;
    font-size: 1rem;
    font-weight: normal;

    transition: color 200ms ease;
}

.project-top:hover .project-description {
    color: var(--inverse_primary);
}

.project-top i {
    color: #eeeeee;
    font-size: 1.25rem;

    transition: 
        color 200ms ease;
}

.project-top:hover i {
    color: var(--on_primary);
}

.project-bottom {
    padding: 15px;

    height: auto;
    width: 100%;
}

.project-button-container {
    display: flex;
    gap: 10px;

    height: 60px;
    width: 100%;
}

.project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--surface_container_high);
    border-radius: 10px;

    color: var(--on_surface);
    font-size: 1.5rem;
    text-decoration: none;

    height: 100%;
    width: 100%;
    
    transition: 
        background 200ms ease,
        color 200ms ease;
}

.project-button:hover {
    background-color: var(--primary);
    
    color: var(--on_primary);
}

@media (max-width: 550px) {
    .palette-selector {
        top: 25px;
        right: 25px;
        bottom: 25px;
        left: 25px;

        max-height: none;
        width: auto;
    }

    .project {
        height: calc(100px + (15px * 2) + 60px);
    }
}
