/* Catppuccin Mocha - https://catppuccin.com/palette/ */
:root {
    --accent: #cba6f7;     /* Mauve */
    --background: #1e1e2e; /* Base */
    --border: #6c7086;     /* Overlay 0 */
    --text: #cdd6f4;       /* Text */
    --subtext: #a6adc8;    /* Subtext 0 */
    --surface: #181825;    /* Mantle */
    --surface2: #11111b;   /* Crust */
}

html {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: var(--accent);
    color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--text);

    transition: all 100ms linear;
}

body {
    background-color: var(--background);
    
    padding-right: 200px;

    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: var(--surface);

    position: fixed;
    top: 0px;
    right: 0px;

    padding: 25px;

    height: 100%;
    width: 200px;
}

#nav-visibility {
    display: none;
}

#nav-visibility:checked + nav {
    display: flex;
    right: 0px;
}

.nav-visibility-label {
    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--surface2);
    border-radius: 25px;

    font-size: 1.5rem;

    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 2;

    height: 50px;
    width: 50px;
}

.nav-visibility-label:hover {
    cursor: pointer;
}

.shortcuts-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    overflow: auto;
}

.shortcuts {
    list-style: none;

    width: 100%;
}

.shortcut-title {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent);
    border-radius: 20px;

    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;

    margin-bottom: 20px;

    height: 40px;
    width: 100%;
}

.shortcut-title:hover {
    cursor: default;
}

.shortcut-title i {
    color: #ffffff;
}

.shortcut-item {
    text-decoration: none;
    
    padding-left: 20px;

    line-height: 1.5rem;
}

.shortcut-item:hover {
    color: var(--accent);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    height: 100%;
    width: 100%;
}

.welcome {
    width: 500px;
}

.welcome-phrase {
    font-size: 1.75rem;
}

.search {
    width: 500px;
}

.search-bar {
    background-color: var(--surface);
    border: none;
    border-radius: 25px;

    text-align: center;

    height: 50px;
    width: 100%;
}

.search-bar::placeholder {
    color: var(--subtext);
    font-size: 0.9rem;
    font-weight: bold;
}

.search-bar:hover {
    border: 2px solid var(--border);

    cursor: pointer;
}

.search-bar:focus {
    border: 2px solid var(--accent);

    cursor: text;

    outline: none;
}

@media screen and (max-width: 750px), screen and (max-height: 800px) {
    body {
        padding: 0;
    }

    nav {
        right: -100%;

        width: 100%;
    }

    .nav-visibility-label {
        display: flex;
    }

    .shortcuts {
        width: 150px;
    }
}

@media screen and (max-width: 550px) {
    body {
        padding: 25px;
    }

    .welcome {
        width: 100%;
    }

    .search {
        width: 100%;
    }
}